[2018-11-12 18:49] #200 closed

[2018-11-23 14:52] abergmeier opened #201 "Make declarative work"
What is currently blocking to get full declarative support working?
It feels strange to not be able to use declarative in 2019 due to this plugin.

[2018-12-03 23:35] JuniorCtba opened #202 "Parallel Connections."
Can i use this plugin running in multiples jobs and nodes in parallel?

How to avoid to have mixed context between the oc client in the same time of use

[2018-12-04 16:41] gabemontero commented on #202
You have to have withCluster inside the parallel step ... see https://github.com/openshift/jenkins-client-plugin#compatibility-with-parallel-step

[2018-12-04 16:41] #202 closed

[2018-12-04 17:07] JuniorCtba commented on #202
I am not saying to use the parallel in the same job, i would like to use in many job in the same time.

[2018-12-04 17:31] gabemontero commented on #202
On Tue, Dec 4, 2018 at 12:07 PM Junior <notifications@github.com> wrote:

you can do that

[2018-12-05 16:53] abergmeier opened #203 "SSH Source secret to git"
We have a Source secret in OpenShift and would now like to access that to checkout git in a stage. How would one do this?

[2018-12-06 19:07] itewk commented on #201
So i discovered that 1.0.12 version of the plugin works with declarative pipelines but `1.0.22` does not. So i started with 1.0.22 and worked my way backwards installing different versions of the plugin and found that the newest version that worked with declarative pipelines is `1.0.16`. Everything above that, 1.0.17 and above, does not work, most give an error that looks like:

[code]

which is s

[2018-12-06 19:41] itewk commented on #201
@gabemontero i dont think this should be closed. I have followed on the instrucitons on compatibility with declarative, but our pipeline still only works on 1.0.16 or 1.0.12, when i try it on 1.0.22 i get that error message.

Sample pipeline here, at the `Build Image` step on 1.0.22 it fails, on 1.0.16 it works, and as far as I can tell we are following everything outlined in https://github.com/op

[2018-12-06 19:53] gabemontero commented on #201
File a separate bugzilla @itewk as you have a much more specific use case then the generic claim here.  Plus it will get higher priority that way.

There must be some implementation difference between the `container` DSL step and the

[code]

style of leveraging agents.  Depending on how `container` from the k8s plugin works, we might be able to compensate with the new forms we've had to adopt fro

[2018-12-06 20:09] itewk commented on #201
@gabemontero will do. what is the right Bugzilla component to open issues for the plugins against? https://bugzilla.redhat.com/enter_bug.cgi?product=OpenShift%20Container%20Platform? If so, which component?

[2018-12-06 20:12] gabemontero commented on #201
On Thu, Dec 6, 2018 at 3:09 PM Ian Tewksbury <notifications@github.com>
wrote:

Use the same values that are set for your other bugzilla.

[2018-12-10 06:08] itewk opened #204 "Unable to retrieve object markup with get; action failed"
Whenever I try to do a `.object()` on a resource I get `Unable to retrieve object markup with get; action failed`. When I debug the container and run the command that the verbose output is listing then I get the expected result. I don't understand why when it runs with the openshift command it fails. The `err=` is blank and there is no other information. I am at a loss of what to try next.

I have

[2018-12-10 11:21] itewk opened #205 "when doing openshift.withCluster how do you pass a custom CA?"
I want to use openshift.withCluster to log into a separate remote OCP cluster but I can't figure out how to specify a different trusted CA path to use rather then the default one that has the CA for the local cluster.

[2018-12-11 01:20] gabemontero commented on #205
For injecting the cert into the trust store for jenkins, if that is what you mean, you got to follow their directions .... like https://support.cloudbees.com/hc/en-us/articles/203821254-How-to-install-a-new-SSL-certificate-

Most users have done this either by extending our openshift jenkins image, or modifying the deployment in order to
- mount the cert (where the cert is defined in a secret or c

[2018-12-11 13:40] itewk commented on #205
@gabemontero we were hoping to avoid using the cluster configuraiton in the Jenkins UI and have all the configuration built into the pipeline itself, so using the `openshift.withCluster(URL, TOKEN)` syntax. I was hoping there was some way to do like `openshift.withCluster(URL, TOKEN, ANY_OTHER_PARAM_YOU_COULD_OTHERWISE_SET_IN_UI_SUCH_AS_CA)` for the short term I figured out the trick of setting `i

[2018-12-11 15:47] gabemontero commented on #205
yeah taking on CA configuration in Jenkins is not something that has been added to this plugin

certainly feel free to open an RFE

[2018-12-11 15:47] #205 closed

[2018-12-13 08:42] racodond opened #206 "Cannot invoke method getServerUrl() on null object when moving code into Jenkins shared library"
Hi,

In my Jenkinsfile, the following piece of code works fine:

[code]

I create a function that I put in my Jenkins shared library: vars/myopenshift
[code]
Then I modify my Jenkinsfile as follow:
[code]

But I get:
[code]

What am I missing?

Thanks for your help!

David

[2018-12-18 16:05] gabemontero commented on #204
hey @itewk - the v1.0.17 changes contained fixes in this space

I've just initiated v1.0.23 of this plugin, which contains the fix for https://bugzilla.redhat.com/show_bug.cgi?id=1657208

Please retry with that version when you have the time.  If there are still issues, please open a bugzilla vs. a github issue and we'll take a look.

[2018-12-18 16:05] #204 closed

[2018-12-21 10:50] szpak commented on #190
It would be definitely useful, also to get notification from GitHub about a new version released.

[2018-12-21 11:37] cloudowski opened #209 "Retry command fails and gets stuck inside a loop"
We have the following piece of code in our pipeline:

[code]

It checks whether all containers are ready. In most cases, it's a single container, but sometimes our job fails and it seems like it's not retrying check of the container status - it seems like it's not entering loop.
We get the following output:

[code]

It should retry in 3.2s, but it didn't and it finally timed out. It sometimes work

[2018-12-21 15:51] bparees commented on #190
You can find releases in the official jenkins repo for this plugin which is what is used to cut the actual releases we ship:

https://github.com/jenkinsci/openshift-client-plugin/releases

is that sufficient?

[2018-12-21 15:51] bparees commented on #190
(you should consider this repo the upstream development repo for the official plugin)

[2018-12-21 21:05] szpak commented on #190
@bparees Thanks, I confused the repositories. The tags and releases are enough for me to get notifications (although, if there is no technical issues with that, they could be also pushed to that repo to keep them (the repositories) more like a mirror).

[2019-01-02 12:51] szpak commented on #209
We took a closer look at the issue and the problem appears on reading data from `/tmp/watchstderr...txt` file. When to the initial content of that file (e.g. `pod/foobar-28-nxsjq`) the same  line is added on deployment completion the execution seems to hang on:
[code]
It's terminated by our timeout a few minutes later. The deployment itself finishes successfully.

Looking at the recent changes it

[2019-01-03 16:01] gabemontero commented on #209
Thanks for the additional detail @szpak

Yeah we had to switch the lib used to read files with the fixes introduced in 1.0.23.  We have not seen the hang you noted in our watch related automated testing, but I certainly could see such a thing being intermittent or dependent on the precise output produced by the underlying `oc` command.

I'll have to investigate the underlying implementations of th

[2019-01-03 16:14] szpak commented on #209
@gabemontero Thanks for your reply. I downgraded to 1.0.22 and it seems to work fine, but I had to workaround issues which I didn't observe in 1.0.23. Such as:

[code]
Nevertheless, it's not related to that issue and `untilEach` can be put in a loop and the second iteration passes then. I will check it in 1.0.24 once available and eventually report a separate ticket.

Please let me know if you nee

[2019-01-08 11:34] severi commented on #209
experiencing a similar issue with this:
[code]
When checking the rc-resource manually  I can see that the phase is "Complete" but for some reason this doesn't trigger the the closure (or actually it does after waiting for ~2,5hours). No issues regarding this with the previous versions

[2019-01-09 09:57] mmkonrad opened #210 "Documentation of Version Changes"
Hello together,

I feel the need to open yet another issue, requesting a documentation of changes in your releases or directions to such in case it already exists.

At the moment we are using the plugin in version 1.0.16 and get recommendations for 1.0.23. We already did an upgrade but had to roll back because all of a sudden our pipelines failed due to the inability of the plugin to process templ

[2019-01-11 11:27] grdryn opened #211 "java.io.IOException: Cannot run program "/usr/bin/oc" (in version 1.0.23 of plugin)"
Hi!

I've got an agent image, where `oc` is installed to `/usr/local/bin/oc` (note, not `/usr/bin/oc` as the error suggests), here's where it gets installed: https://github.com/feedhenry/wendy-jenkins-s2i-configuration/blob/master/agent-base-centos7/Dockerfile#L18

I updated to version 1.0.23 of this plugin (I don't think I was on 1.0.22 before that, I could have been 2 or 3 versions back), and no

[2019-01-14 17:44] Denis220795 opened #213 "java.io.FileNotFoundException: \tmp\ocstdout3204612150570745585.txt (The system cannot find the path specified)"
Hello,

This strange issue appears after updating the plugin to any version past this commit:
https://github.com/jenkinsci/openshift-client-plugin/commit/861cb2c1cf939696a75c39568d8a9c5fea999bdb

Full stacktrace:

`java.io.FileNotFoundException: \tmp\ocstdout3204612150570745585.txt (The system cannot find the path specified)
	at java.io.FileOutputStream.open0(Native Method)
	at java.io.FileOutputS

[2019-01-17 08:02] mmkonrad commented on #210
I know this is an open source project, but can you tell me if this issue made your to-do list and what an approximate schedule could be?

[2019-01-17 15:01] #190 closed

[2019-01-17 16:04] gabemontero commented on #209
fyi although it has proven very intermittent for us, I believe we have seen this on occasion in openshift dev CI as well

I've started working on a change related to the comments at https://github.com/openshift/jenkins-client-plugin/issues/209#issuecomment-450855894 and https://github.com/openshift/jenkins-client-plugin/issues/209#issuecomment-451192287

Given the intermittent occurrences for us,

[2019-01-17 17:10] gabemontero commented on #209
great - thanks @szpak

I'll post a zip file of the hpi file here once I've completed my unit / regression testing.

[2019-01-17 21:18] gabemontero commented on #209
OK @szpak give this a try:
[client-plugin.zip](https://github.com/openshift/jenkins-client-plugin/files/2770597/client-plugin.zip)

Unzip the hpi file from that zip and install it

As a secondary concern, if you see issues with this, based on what we see with the job output, I might need to know which version of `oc` you are running with.  There have been some issues from time to time with it's wa

[2019-01-17 21:43] gabemontero commented on #211
Yeah @grdryn we have had to rework processing launching to fix various scenarios.  Aside from the commit you noted, a couple of commits back at https://github.com/openshift/jenkins-client-plugin/commit/244c3fc893f3b6a0566a1fafb06b9d446f3cc553#diff-dcd07aa221d2ea9075cd77e4c245364a (which was a version or two before 1.0.23) is where we had to start inspecting the path as a result of moving off of du

[2019-01-17 22:14] gabemontero commented on #213
Hey @Denis220795

Yea there has been some churn in our process invocation to deal with a varying set of scenarios, as well as to work around some jenkins bugs.

Certainly the path noted in the exception is a windows based path, which would not be tolerated on your linux agent.

I thought when testing the recent changes I had confirmed that the FilePath we received from Jenkins was local for our ag

[2019-01-17 22:52] gabemontero commented on #213
correction ... just did some digging, and the filepath is on the master

the pipeline details I asked for previously will still help with a few other things, so please provide those if possible, but I may have a few things to go with.

That said, I don't have access to a windows jenkins master  .... would you all be able to test pre-release versions of the plugin that I could attach to this issue?

[2019-01-18 03:31] ll911 commented on #158
`withEnv(["PATH+OC=${ocDir}"]) ` only works for master node, slave node download oc fine, but still defaults to use `/bin/oc`
slave using jenkins official docker image `jenkins/jnlp-slave`
[code]

[2019-01-18 14:04] Denis220795 commented on #213
Hi @gabemontero , thanks for your quick response.

Yes we would be able to test pre-release version if you share it here.

About the pipeline that we use:
We use shared libraries and define our pipeline in vars directory of the library, then load it before the pipeline execution and just execute it as function.

Example definition of the pipeline:

[code]

Let me know if more details are needed. Y

[2019-01-18 20:51] szpak commented on #209
Thanks @gabemontero. I will try to test it on Monday.

[2019-01-18 20:59] gabemontero commented on #209
sounds good thanks @szpak

[2019-01-21 13:42] racodond commented on #206
Hi guys,

Any feedback on this matter?

Thank you!

David

[2019-01-22 12:35] lioramilbaum opened #215 "-p POD_NAME is DEPRECATED and will be removed in a future version. Use exec POD_NAME instead"
using plugin version 1.0.22

running
`openshift.exec("$podName","bash","-c","mkdir -p /etc/systemd/system/vagrant-vm.service.d/workDir/workspace")`

output
`ERROR: exec returned an error;
{reference={}, err=-p POD_NAME is DEPRECATED and will be removed in a future version. Use exec POD_NAME instead.
F0122 12:29:32.538061     622 helpers.go:119] error: invalid resource name "/etc/systemd/system/vag

[2019-01-22 14:41] gabemontero commented on #209
ok thanks for the info @szpak

the logging I added did review a couple of things:
1) the output from the watch is not changing
2) the jenkins Proc class thinks the process is still alive

Am I correct in that this particular hung watch is on pods, where you are waiting until the container reaches the ready state?

I *think* I have a couple of more things to look into ... but I also may be providin

[2019-01-22 21:02] maximmold commented on #209
Hey Gabe! Your old buddy Max Moldenhauer here! I think I'm getting the same issue. We are doing an untilEach and at a certain point it stops evaluating the closure. This doesn't always occur, but most of the times it does.

I'm guessing this is due to this change in OcWatch.java?

`if ((newOutput.length > 0 && newOutput.length > outputSize) || firstPass) {
                                firstPass

[2019-01-22 21:04] bparees commented on #209
@maximmold !

[2019-01-23 09:51] szpak commented on #209
Yes, it is. And I'm still able to test some other version.

[2019-01-23 13:16] maximmold commented on #209
I am getting this with the latest debug plugin.
`07:51:28
07:51:28 watch closure threw an exception: "groovy.json.JsonException: expecting '}' or ',' but got current char 'a' with an int value of 97
07:51:28
07:51:28 The current character read is 'a' with an int value of 97
07:51:28 expecting '}' or ',' but got current char 'a' with an int value of 97
07:51:28 line number 14
07:51:28 index number

[2019-01-23 14:39] maximmold commented on #209
Reverting to 1.0.22 seems to have resolved my issues.

[2019-01-23 21:00] gabemontero commented on #209
OK here is the update for fixing your issue @szpak
[client-plugin.zip](https://github.com/openshift/jenkins-client-plugin/files/2789082/client-plugin.zip)

@maximmold (good to "talk" with you again Max :-) ) highlighted the offending line ... I got too clever with my optimization (in part because I forgot how we only leverage the `-o=name` option so the output won't change as the pod evovles ... m

[2019-01-24 11:45] szpak commented on #209
It's somehow better @gabemontero . The version `1.0.24-SNAPSHOT (private-3cae71ff-gmontero)` deployed successfully my project 7 of 10 tries (1.0.23 and the previous one was always hanging).

However, I don't see `Checking watch output again in XXXms` any longer, so I'm not sure if it is the same issue. Have you reverted that message intently or I'm somehow testing some old version?

I have spotted

[2019-01-24 15:24] gabemontero commented on #209
Hey @szpak  - glad to hear about the progress.

Continuing with your last comment:

1) The `"Checking watch output again in " + reCheckSleep + "ms having processed " + outputSize + " bytes of watch output so far"` message is still there.  The nature of the latest fix is why you don't necessarily see it repeatedly.

The fix to date centers on 2  things
a) avoid the blocking file system read
b) make

[2019-01-24 15:43] szpak commented on #209
In fact I don't see that message at all. In any of my deployment build. The execution just hangs after "Running watch closure body" (or my debug messages if printed after that). Do you plan to bring it back?

Unfortunately, in the meantime I've got results from some other executions and the watch hangs even if that change does not happen. Therefore, it's most likely not related to my code. It mean

[2019-01-24 16:17] maximmold commented on #209
On 1.0.23, the build was failing to properly complete probably about 75% of the time. I got the JsonException twice in a row so I gave up on that patch. Let me know if there is another fix that I should try out. I'm assuming I'd want one with the retry logic?

[2019-01-24 17:38] szpak commented on #209
@gabemontero I will do some more testing on my side tomorrow, as it can be also something in my cluster.

[2019-01-24 18:41] gabemontero commented on #209
sounds good @szpak

[2019-01-24 20:39] gabemontero commented on #209
went ahead and added the json exception retry @maximmold  ... give it a try at your convenience
[client-plugin-max.zip](https://github.com/openshift/jenkins-client-plugin/files/2793520/client-plugin-max.zip)

[2019-01-25 12:14] donotello commented on #213
@Denis220795, @gabemontero,

Looks like we have the same issue. Were you able to figure out the root cause of find a workaround?

[2019-01-25 16:47] gabemontero commented on #209
@maximmold I think I may have one more tweak to the patch for you I posted yesterday

[2019-01-25 17:34] maximmold commented on #209
@gabemontero Thanks. I should be able to test that out by EOD Monday at the latest. I will try to get to it today if possible though.

[2019-01-25 17:47] szpak commented on #209
@gabemontero I tested `client-plugin-dbg1.zip` and it seems that you fixed the original problem. Thanks :+1:

I have one suspicious related to the occasional timeouts I had. I check if containers are ready. They are not and I return false (inside `untilEach {}`). However, in the meantime the containers status becomes ready, before the control is returned to `untilEach {}`. Would there `untilEach {

[2019-01-25 18:03] gabemontero commented on #209
@szpak:

1) first, good news on confirming the original problem fix

2) to your first question, the status of the pod has no bearing on whether we call the closure; the only reason we would not call the closure are
  a) the jenkins code we call to read the output file for the underlying `oc get <selector result> -w -o=name` output hangs (jenkins bug)
  b) the calling of the closure has a problem s

[2019-01-25 19:33] maximmold commented on #209
@gabemontero I'm getting the same JsonException. Here is the stack trace.
[jenkinsClientStackTrace.txt](https://github.com/openshift/jenkins-client-plugin/files/2797581/jenkinsClientStackTrace.txt)

[2019-01-25 20:17] gabemontero commented on #209
OK, good to know at @maximmold  ... and the stack trace was helpful

But in case it was not clear, the latest patch I attached here does *NOT* have the changes I'm making wrt retry on json exception, etc. and what you are seeing with your parallel builds.

I'm pretty close to unit test / regression test complete on
a) a change that will retry calling
b) bypasses the jenkins file system stuff (I've

[2019-01-25 20:36] gabemontero commented on #209
blaaahhh .... `public class JsonException extends RuntimeException`

Gotta change my try/catch from Exception to Throwable will be part of patch I should post soon

[2019-01-25 21:34] szpak commented on #209
Nice. I will play with it on Monday.

[2019-01-25 23:12] grdryn commented on #211
Thanks @gabemontero!

I've created a simpler reproducer than the pipeline that I experienced this in:

<details>
<pre>
pipeline {
    agent {
        node {
            label 'jenkins-tools'
        }
    }

    stages {
        stage('wtf') {
            steps {
                script {
                    openshift.withCluster('<scrubbed>') {
                        openshift.withProject(params.

[2019-01-27 01:51] gabemontero commented on #211
Yep, it must be checking on the master @grdryn ... and now that I think about, I've realized that before about the run() methods for OcAction and OcWatch.

Some of the churn here stems from the couple of switches in process launching we've done starting with v1.0.17.  As I've switch back to more of a pre v1.0.17 model with v1.0.23 (minus the use of durable task plugin and the bourne/window shells

[2019-01-27 13:00] grdryn commented on #211
@gabemontero this one was successful! :+1: Thanks! :100:

[2019-01-27 14:19] gabemontero commented on #213
The changes I'm working via https://github.com/openshift/jenkins-client-plugin/pull/214
https://github.com/openshift/jenkins-client-plugin/issues/211
and
https://github.com/openshift/jenkins-client-plugin/issues/209

should address this

Here's a pre-release version if you'd like to try
[client-plugin-gerard-2.zip](https://github.com/openshift/jenkins-client-plugin/files/2800119/client-plugin-gera

[2019-01-28 09:59] maikebertpsc opened #216 "OC client stdout and stderr tmp files are not cleaned up"
We currently have the following environment:
- Jenkins 2.121.1
- OC command line tool 3.9.0
- jenkins-client-plugin 1.0.23

We now realized that on our Jenkins master the /tmp folder was consuming several GBs of disk space due to 100.000th of these stdout and stderr txt files.
These amount of files have been created in just 10 days.
This might be related to the fact that we use that plugin in our

[2019-01-28 12:58] gabemontero commented on #216
PR https://github.com/openshift/jenkins-client-plugin/pull/214 addresses this

Once we've completed regression testing, it will get merged and v1.0.24 of the plugin will be created.

[2019-01-28 16:46] szpak commented on #209
From my side the original problem (100% timed out builds) seems to be fixed and it would be nice to see a new official version in the predictable future.

I will try to find a way to reproduce the occasional issue I was writing about and I will report it in a separate ticket.

[2019-01-28 18:03] gabemontero commented on #209
thanks for the update @szpak - current thought is I'll cut a new version this week

@szpak @maximmold  - I had one instance of the json exception in various runs; not sure I am seeing it with enough regularity to be certain, but I have not seen it with this minor tweak

[client-plugin-max-3.zip](https://github.com/openshift/jenkins-client-plugin/files/2804237/client-plugin-max-3.zip)

[2019-01-28 19:06] maximmold commented on #209
Thanks @gabemontero . I will try out the latest one.

[2019-01-29 10:51] jtudelag opened #217 "verifyService does not work with headless Services"
verifyService does not work with headless Services.

Headless Services do not have clusterIPs associated, so when the method verifyService try to parse the IP, it fails.

https://github.com/openshift/jenkins-client-plugin/blob/release-3.10/src/main/resources/com/openshift/jenkins/plugins/OpenShiftDSL.groovy#L946

[2019-01-29 11:00] jtudelag opened #218 "verifyService only works if the NameSpace is global"
The method verifyService only works if the namespace is global, so It can reach any Pod IP, no matter the NameSpace where Pods are running.

Thats fine, but It would be good to have it documented somewhere. I haven't found it documented either here nor in the OCP docs: https://docs.okd.io/latest/install_config/configuring_pipeline_execution.html#openshift-pipeline-dsl-plugin.

[2019-01-29 13:35] maximmold commented on #209
@gabemontero The latest patch looks good to me.

[2019-01-29 13:53] maximmold commented on #209
@gabemontero I did have one follow up question. The way we are doing our parallel builds requires that you create the pipeline in openshift and then reference them in the coordinating/parent pipeline. We were hoping to avoid defining the pipeline in openshift so people are just using Jenkins, but still get the advantages of using Jenkins slaves running as pods on openshift. Is that a paradigm that

[2019-01-29 14:40] gabemontero commented on #209
thanks for the verification on the latest patch @maximmold

i'll start the process of crafting a new release (which has some atypical hurdles at the moment cause our CI is in flux as a result of 4.0 development)

to your follow up question, yes you can, you just wouldn't use this plugin to start the builds or track their progress.  You can still use this plugin to scope the cluster and project if

[2019-01-29 18:44] #209 closed

[2019-01-29 19:05] gabemontero commented on #209
v1.0.24 of this plugin has been initiated at the update center

[2019-01-29 19:07] gabemontero commented on #213
v1.0.24 of this plugin has been initiated at the update center with the fixes I noted above

After trying it if you get the same issue, please reopen

If something besides the exception occurs, please open a new issue

thanks

[2019-01-29 19:07] #213 closed

[2019-01-29 19:08] gabemontero commented on #211
v1.0.24 of this plugin has been initiated at the update center

I'll update the jenkins image once your sec advisory PR dodges enough flakes to pass @grdryn

[2019-01-29 19:08] #211 closed

[2019-01-29 19:10] gabemontero commented on #216
v1.0.24 of this plugin has been initiated at the update center

[2019-01-29 19:10] #216 closed

[2019-01-29 21:50] gabemontero commented on #206
I suspect it stems from the fact that this plugin is a Jenkins Global Variable (it was modeled off of their docker plugin way back when in the early pipeline days) ... see https://jenkins.io/doc/book/pipeline/getting-started/#global-variable-reference

that exception stems from the fact that the state from your `openshift.withCluster` call must have been lost as you entered the shared lib.

From t

[2019-01-29 21:50] #206 closed

[2019-01-30 11:50] maikebertpsc opened #221 "openshift.selector('project') object.name() changed in plugin versino 1.0.24"
Until now we had plugin version 1.0.23.
In this version the following code worked as expected:
[code]
Especially that object name() method returned 'projects/some-project-name'.

Since upgrading to plugin version 1.0.24 this code stopped working, because object name() does return singular project like  'project/some-project-name' instead (project VS projects).

I guess that's some kind of regressi

[2019-01-30 12:01] Xaseron opened #222 "watch closure returns false even if the container status is ready"
The watch closure returns always false even though the containers are in the ready state.
The pipeline only continues when when the timeout kills the watch closure and it gets invoked again.
The runtime of my pipeline increased from 17 minutes to 52 minutes from 1.0.23.

code:
[code]

log:
[code]

[2019-01-30 16:33] maximmold opened #223 "Multi-tenant security on a single Jenkins instance"
We are looking to leverage a single jenkins master, but have pipelines and build configs associated to individual projects. We currently have given access to the ci serviceaccount to the other projects to be able to perform various operations with build configs, builds, and image streams, but ideally we'd like to change which service account the pipeline is running under on a per jenkins folder ba

[2019-01-30 17:58] Denis220795 opened #224 "Caused: java.io.IOException: Cannot run program "oc" (in directory "/code/checkout/POC_Testing/Pipeline_New_Oc_Test-Pipeline"): error=2, No such file or directory"
Hi this issue appeared after fixes that were applied in this issue:
https://github.com/openshift/jenkins-client-plugin/issues/213

Now we have different issue but seems its related to the same process of how Jenkins manage paths to files on the master and slave servers.

Full stacktrace:

[code]

The pipeline that I've used for testing:
[code]

We have oc cli in the path that was configured in Jen

[2019-01-30 20:05] maximmold commented on #223
Also note that the commands don't jive with the screenshots. The spelling on prilvileged/privileged doesn't match.
`oc create secret generic my-prilvileged-token-id --from-file=openshift-client-token=mysecretToken.txt`

[2019-01-30 21:12] gabemontero commented on #221
the changes between 1.0.23 and 1.0.24 did not change anything with respect to`project` vs. `projects` getting returned ... it solely focused on launching the `oc` process ... the ways the params were passed into `oc` and how the output from `oc` was processed was unchanged

at face value how the process was launched would not affect those

the more likely suspect is that either the `oc` version or

[2019-01-30 21:31] gabemontero commented on #224
any chance you could reproduce with
[client-plugin-1.zip](https://github.com/openshift/jenkins-client-plugin/files/2814532/client-plugin-1.zip)

it has some debug prints starting with `GGM` and a *possible* fix

apologies ... still no hope short term for me to get a windows master / linux agent env to repro

[2019-01-31 00:48] rajmechi opened #225 "how can i specify/overwrite-default skipTLSVerify value to true"
for example i want to use below in pipeline.

openshift.withCluster() {
      openshift.withProject( "${DEV_PROJECT}" ){
      def latestDeploymentVersion = openshift.selector('dc',"${APP_NAME}").object().status.latestVersion
      def rc = openshift.selector('rc', "${APP_NAME}-${latestDeploymentVersion}")
      rc.untilEach(1){
          def rcMap = it.object()
          return (rcMap.status.repl

[2019-01-31 03:07] TomSchmitz commented on #225
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht
"[openshift/jenkins-client-plugin] guys how can i specify/overwrite-default
skipTLSVerify to true  (#225)" gesendet am 31.01.2019 01

[2019-01-31 03:43] bparees commented on #225
@TomSchmitz i have been forced to block you from my personal account.  please fix your auto-responder and/or do not subscribe to our repositories.  This the second time this has happened and you did not acknowledge it last time.  These messages are a distraction from our ability to collaborate with the community.  If it continues, I will request permission to block you from the org to prevent this

[2019-01-31 07:51] emregozen opened #226 "How to use wildcard to get artifact for startBuild method"
Hello,

I put a Jenkinsfile to my spring boot application's root folder for creating a pipeline on Openshift,
Everything looks great,
But I want to use pipeline for my JAR file, because it contains a version prefix,
When I put a '*' instead of version, it could not find the JAR artifact,
Is it possible to use wildcard chars when calling startBuild method?

My Jenkinsfile is like that,

[code]

Jen

[2019-01-31 08:06] TomSchmitz commented on #226
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht
"[openshift/jenkins-client-plugin] How to use wildcard to get artifact for
startBuild method (#226)" gesendet am 31.01.2019 08:51:37

[2019-01-31 14:13] Denis220795 commented on #224
Hi @gabemontero ,

Here is the result of testing:

[code]

[2019-01-31 14:59] rajmechi commented on #225
found it seems i need to add insecure://   to cluster url       (  insecure://xxxxx:443 )  that set skipTLS = true     --   src/main/resources/com/openshift/jenkins/plugins/OpenShiftDSL.groovy.

let me know if there is any other way to it.

Thanks.

[2019-01-31 15:00] rajmechi commented on #225
can you guys add insecure:// will set skipTLS = true to the README file.

[2019-01-31 15:12] TomSchmitz commented on #224
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Caused: java.io.IOException: Cannot run
program "oc" (in directory
"/code/checkout/POC_Testi

[2019-01-31 15:12] TomSchmitz commented on #225
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] how can i specify/overwrite-default
skipTLSVerify value to true  (#225)" gesendet am 31.01.2

[2019-01-31 15:12] TomSchmitz commented on #225
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] how can i specify/overwrite-default
skipTLSVerify value to true  (#225)" gesendet am 31.01.2

[2019-01-31 17:22] racodond commented on #206
OK. Thanks for your feedback.

[2019-01-31 18:13] TomSchmitz commented on #206
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Cannot invoke method getServerUrl() on
null object when moving code into Jenkins shared libr

[2019-01-31 19:08] maximmold commented on #223
I was able to follow the documentation and get the DSL to use the credential appropriately. I think we're at a roadblock though because we'd like to continue to use the Openshift login plugin as well, but have permissions set at the folder level. This doesn't appear possible since it only supports the Global Matrix and the Project matrix strategies.

[2019-01-31 19:15] TomSchmitz commented on #223
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Multi-tenant security on a single Jenkins
instance (#223)" gesendet am 31.01.2019 20:08:31.

[2019-01-31 19:32] gabemontero commented on #223
@maximmold
1) good news re: openshift.withCredentials
2) yeah no plans at this time to augment login plugin beyond those strategies; off hand don't know what would even be involved in supporting that one

I've reached out to some of our PM folks offline

[2019-01-31 20:19] gabemontero commented on #223
@siamaksade @pweil- @bparees ^^

login plugin enhancement request

[2019-01-31 21:35] gabemontero commented on #224
Thanks for the debug @Denis220795

Try
[client-plugin-2.zip](https://github.com/openshift/jenkins-client-plugin/files/2819095/client-plugin-2.zip)

I tried it with both local/remote/k8s decorator launchers (minus the windows-> linux flow you have) where I'm setting the working directory to null ... the launchers seem to tolerate it

No debug statements in this one

[2019-02-01 09:22] schdief commented on #222
would be great to get this solved, we are fighting this problem too!

[2019-02-01 10:07] TomSchmitz commented on #222
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] watch closure returns false even if the
container status is ready (#222)" gesendet am 01.02.

[2019-02-01 13:05] Denis220795 commented on #224
Hi @gabemontero , here is the result of the latest attached plugin:

[code]

Seems like after setting directory to null we lose customWorkspace that we have defined in the pipeline.

[2019-02-01 13:09] TomSchmitz commented on #224
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Caused: java.io.IOException: Cannot run
program "oc" (in directory
"/code/checkout/POC_Testi

[2019-02-02 14:12] benko opened #227 "Any chance of ever having nice, clean, declarative steps again?"
So, great. The old plugin is obsolete now. The only way to stay current is to replace every single step from our old pipelines with 6-15 lines of curly brace and flow control noise.

Because this:

        node('maven') {
          stage('build') {
            openshiftBuild(buildConfig: 'simple', showBuildLogs: 'true')
          }
          stage('deploy') {
            openshiftDeploy(deployment

[2019-02-02 23:01] mbecca commented on #227
Hi,

"openshift.selector("dc/simple").rollout().latest()" start a new deploy?

You have any trigger in DeploymentConfig? (for example: ImageStreamChange..)

Thanks in advance!

M.

[2019-02-03 03:05] TomSchmitz commented on #227
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Any chance of ever having nice, clean,
declarative steps again? (#227)" gesendet am 03.02.20

[2019-02-03 06:10] benko commented on #227
Hey, @mbecca,

Yes. There are actually a number of different ways to start a new deployment using the plugin, this is just one of them.

No triggers, of course. With Jenkins, you want Jenkins to drive the pipeline, not triggers.

Think of the following (very common) use-case: developers have no direct access to the cluster, except to the Jenkins console, where the only thing they can do is start a

[2019-02-03 07:05] TomSchmitz commented on #227
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Any chance of ever having nice, clean,
declarative steps again? (#227)" gesendet am 03.02.20

[2019-02-05 14:51] rfftrifork commented on #224
We are seeing similar trouble:

I tried gathering a bit more info from our Jenkins. Also I both tried with "PATH" and "PATH+OC", but if I understand correctly it should definitely work when it's on PATH. Here's what we tried:

[code]

And it gives the following output:

[code]

I'm at a loss to why this doesn't work, but perhaps you have suggestions?

[2019-02-05 15:12] TomSchmitz commented on #224
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Caused: java.io.IOException: Cannot run
program "oc" (in directory
"/code/checkout/POC_Testi

[2019-02-05 22:59] mbecca commented on #227
Hey, @benko ,

thanks for all the answers, it was very helpful!

Regards, M.

[2019-02-06 03:12] TomSchmitz commented on #227
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Any chance of ever having nice, clean,
declarative steps again? (#227)" gesendet am 05.02.20

[2019-02-06 16:58] Denis220795 commented on #224
Hi, @gabemontero , yes correct, the path on the Linux build server should be `/code/checkout/POC_Testing/Pipeline_New_Oc_Test-Pipeline`. I can make some debugging with Environment vars in Jenkins and java properties. But I think there should be env var smth like `PWD` that should point to the directory where pipeline is executed on the build server.

[2019-02-06 17:11] TomSchmitz commented on #224
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Caused: java.io.IOException: Cannot run
program "oc" (in directory
"/code/checkout/POC_Testi

[2019-02-06 22:53] gabemontero commented on #224
OK @Denis220795 the next set of changes to try when you have the chance.

[client-plugin-3.zip](https://github.com/openshift/jenkins-client-plugin/files/2838602/client-plugin-3.zip)

It includes both debug and attempts to translate between win/*x and *x/win when they differ between master and agent

Aside from regression testing on my systems where they are the same, I was able to do junit testing

[2019-02-07 01:17] gabemontero commented on #224
@Denis220795 a potential problem the client-plugin-3.zip

Please use

[client-plugin-4.zip](https://github.com/openshift/jenkins-client-plugin/files/2838939/client-plugin-4.zip)

[2019-02-07 11:28] Denis220795 commented on #224
@gabemontero , here is the result of testing client-plugin-4.zip:

[code]

Everything looks good in the debug info  and the problem is with working directory itself.

[2019-02-07 12:09] TomSchmitz commented on #224
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Caused: java.io.IOException: Cannot run
program "oc" (in directory
"/code/checkout/POC_Testi

[2019-02-07 21:20] gabemontero commented on #224
Yeah @Denis220795 don't know yet if the extran `/code/` is the issue or the fact that there are `\` as the path separators in the file name.

I suspect the latter but am trying to inspect to the code paths to see what is up.

I'm also at a loss as to why there are `\` in that working dir file name to begin with when as the debug shows only `/` were passed into the launcher calls.

[2019-02-08 03:25] gabemontero commented on #224
OK @Denis220795 this one
[client-plugin-5.zip](https://github.com/openshift/jenkins-client-plugin/files/2843501/client-plugin-5.zip)
  does the following:

- puts the original FilePath back in ... that should eliminate the `\`
- searches the agent for the `oc` binary across all the filesystems
- confirms the working dir exists on the agent and sees if there are any files in it
- dumps the env vars

[2019-02-08 08:24] maikebertpsc commented on #224
We facing the same problem since yesterday.
Might be also related to the plugin update to 1.0.24.

[2019-02-08 09:07] TomSchmitz commented on #224
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Caused: java.io.IOException: Cannot run
program "oc" (in directory
"/code/checkout/POC_Testi

[2019-02-08 21:04] gabemontero commented on #227
Hi @benko

Sidebar: as creator of the old plugin, I could not help but smile at your reaction/opinions :-) especially in light of having to maintain this new plugin

Now a core dump of the particulars:
- generally speaking, this plugin has received more positive feedback .... folks like the jenkins/pipelines/groovy syntax sugar
- the old plugin was too expensive to maintain / evolve because of its

[2019-02-08 21:04] #227 closed

[2019-02-08 21:09] gabemontero commented on #226
@emregozen - sorry, this is a function of the `oc` binary, and that binary currently does not support wildcards for that parameter.

You could try to request such a feature change at https://github.com/openshift/origin, or if you have a RH subscription, open an RFE.

[2019-02-08 21:09] #226 closed

[2019-02-08 21:20] gabemontero commented on #225
hey @rajmechi the `insecure://` trick is an `oc` nuance I'm not sure we want to promote

the more official way is to set this flag when creating your cluster

If you see the screen shot at https://github.com/openshift/jenkins-client-plugin#configuring-an-openshift-cluster you'll see the disable tls flag

[2019-02-08 21:20] #225 closed

[2019-02-08 21:24] gabemontero commented on #218
the expectation is that like all the DSL for this plugin, that it is called within the context of
[code]

You would create different `withProject` closures for each namespace you needed to monitor.

This plugin's readme gets into all that, and is pointed to by the OKD/OCP docs.

[2019-02-08 21:24] #218 closed

[2019-02-08 21:26] gabemontero commented on #217
interesting use case @jtudelag

Longer term, some new support to add.  Short term, we can highlight this req/assumption in the help/readme where needed.

[2019-02-08 21:29] gabemontero commented on #215
Yeah the `-p` is getting associated with `oc exec` and not being included as the command to run within the pod.

To some degree I feel this is a bug in `oc` but will look into it more.

[2019-02-08 21:45] gabemontero commented on #222
@Xaseron or @schdief

unfortunately I'm going to need a repro from one of you with openshift.verbose(true) called prior to the `watch` or `untilEach` closures.

I'm not seeing the problem you noted with
[code]

when I go through various rollouts / manual deployment triggering

Based on logs provided, we are calling the watch, so the `oc` invocation should be occurring

if ` it.object()?.status?.co

[2019-02-09 00:25] mbecca opened #228 "Question about result of bc.startBuild()"
Hi,

How can I determine if the output of this buildconfig had errors?

def bc = openshift.selector("bc", "app")
def result = bc.startBuild()
bc.logs('-f')
#here determine result of build#

Thanks in advance!

Regards, M.

[2019-02-09 00:53] mbecca commented on #228
Is valid?:

def latestVersion = openshift.selector('bc',"app").object().status.lastVersion
def build = openshift.selector('build', "app-${latestVersion}")
def status= build.object().status.phase
if (status == 'Failed'){
  currentBuild.result = "ABORTED"
  error('ABORTED')
}

[2019-02-09 03:07] TomSchmitz commented on #228
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht
"[openshift/jenkins-client-plugin] Question about result of bc.startBuild()
(#228)" gesendet am 09.02.2019 01:25:44.

Diese ist die

[2019-02-09 03:09] TomSchmitz commented on #228
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Question about result of bc.startBuild()
(#228)" gesendet am 09.02.2019 01:53:59.

Diese ist

[2019-02-09 08:40] lioramilbaum commented on #215
Will check if the '-p' in the command is the issue. Will check it with commands which doesn't have the '-p' and see if it works or not.

[2019-02-09 09:07] TomSchmitz commented on #215
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] -p POD_NAME is DEPRECATED and will be
removed in a future version. Use exec POD_NAME instead

[2019-02-09 13:35] Denis220795 commented on #224
Hi @gabemontero , I was able to test client-plugin-5.zip version of the plugin. The log is in the attached file:
[oc-jenkins-plugin-5.log](https://github.com/openshift/jenkins-client-plugin/files/2847821/oc-jenkins-plugin-5.log)

Seems like all the paths are correct. I've compared the env vars before and after passing them into the ProcStarter and they are identical.

I've also tried to execute oc

[2019-02-09 14:11] TomSchmitz commented on #224
Ich bin bis 11.02.2019 abwesend.
I am out of the office until 11.02.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Caused: java.io.IOException: Cannot run
program "oc" (in directory
"/code/checkout/POC_Testi

[2019-02-11 06:34] kajh commented on #180
I see the issue with v1.0.24 on jenkins 2.163. I havn't tried on earlier versions. It looks like the PATH is not passed to the plugin. ```sh "oc version"``` works fine, but not ```openshift.raw('version')```.
[code]
gives the following output:
[code]

[2019-02-11 10:07] maikebertpsc commented on #224
For me it seems that the actual downloading of the OC client via unzip installer does not work correctly.
The pipelines do not download and unpack the oc client to the expected target folder.
When I check that folder its not on the machine.
So for sure the system can not start the oc executable.

[2019-02-11 10:26] Denis220795 commented on #224
Hi @maikebertpsc , in our case we have oc cli client in the expected directory that was configured in tools in Jenkins, if we execute some commands via shell script without using this plugin, it works ok.

[2019-02-11 13:26] TomSchmitz commented on #224
We have the same issue with 1.0.24

[2019-02-11 16:49] kajh commented on #180
I see that the issue I describe here is the same as https://github.com/openshift/jenkins-client-plugin/issues/224. Sorry for not noticing that issue!

[2019-02-12 18:39] gabemontero commented on #224
Hey @Denis220795
- concur with your analysis
- I think per prior findings as noted in my comments in https://github.com/openshift/jenkins-client-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/util/ClientCommandRunner.java#L119-L126 and https://github.com/openshift/jenkins-client-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/util/ClientCommandBuilder.java#L29-L36 I

[2019-02-12 18:44] gabemontero commented on #228
That looks like the right direction @mbecca

You can see similar things in our testing script of miscellaneous script interactions at https://github.com/openshift/jenkins-client-plugin/blob/master/examples/jenkins-image-sample.groovy#L228-L244

[2019-02-12 18:44] #228 closed

[2019-02-12 21:04] gabemontero commented on #224
ok here is
[client-plugin-6.zip](https://github.com/openshift/jenkins-client-plugin/files/2857638/client-plugin-6.zip)

This takes:
- the `oc` binary location(s) found in the target computer/agent (@Denis220795 's debug log from the last run proved we could find the one he intended to be used
- cross references that with the PATH env var ... we'll grab the first match, and prepend the fully qualif

[2019-02-13 03:06] mbecca commented on #228
@gabemontero thanks for all!

Regards,

M.

[2019-02-13 08:44] maikebertpsc commented on #224
Thanks to all your effort, but unfortunately it's not so easy for me to test that out, because we just have that one Jenkins instance. When I start experimenting the developers will get unhappy ;-/

[2019-02-13 16:53] Denis220795 commented on #224
@gabemontero , here is the log:
[jenkins-oc-client-plugin-6.log](https://github.com/openshift/jenkins-client-plugin/files/2861294/jenkins-oc-client-plugin-6.log)

It looks like the `PATH` really not passing to the method where we execute oc program and as a result it is executed from `/bin` directory or `/usr/bin`. In this log I see the path for execution is `/bin\oc` that looks a little bit weird

[2019-02-13 21:22] gabemontero commented on #224
Hey @Denis220795  ... ahh, I messed up with the path separator in plugging in the dir ... your win/linux scenario caught me again

I should have an update shortly.

And thanks for reminding, but yes, knew about 1.0.22 working for you.  It just happens that the Jenkins API we used there did not work for another scenario (multi-container agents).  I've had to retrofit a variant of our 1.0.16 and 1.0

[2019-02-13 22:07] gabemontero commented on #224
[client-plugin-7.zip](https://github.com/openshift/jenkins-client-plugin/files/2862396/client-plugin-7.zip)

try that one @Denis220795

knock on wood I'm optimistic about this one

[2019-02-14 13:06] Denis220795 commented on #224
Hi @gabemontero ! Congratualtions this versions works. Here is the output:

[code]

[2019-02-14 14:33] Xaseron commented on #222
The Response gets truncated :-(
I0214 14:01:01.664839    6331 request.go:897] Response Body: {"kind":"Pod","apiVersion":"v1","metadata":{"name":"petclinic-functional-master-1-nnbnc","generateName":"petclinic-functional-master-1-","namespace":"pep-tfcd-petclinic-uat","selfLink":"/api/v1/namespaces/pep-tfcd-petclinic-uat/pods/petclinic-functional-master-1-nnbnc","uid":"43502322-3058-11e9-be36-005056

[2019-02-14 14:41] gabemontero commented on #224
Great news @Denis220795 !!

And thanks again for taking on testing patches in your win/linux multi platform env

I'll be doing some more regression testing and hopefully can cut a new version with these changes by the end of the week.

@maikebertpsc - once the new version is cut, if you are still having problems, please open a new issue.  I think I'll leave some form of the debug here to assist fu

[2019-02-14 22:29] gabemontero commented on #224
among other regression testing I have confirmed that:
[code]

works correctly, where I defined `oc311` in the jenkins global tool configuration.

The job run downloaded and unzipped the tool into my nodejs pod and then the debug confirmed we used that version of oc in the pipeline.

[2019-02-15 21:29] #224 closed

[2019-02-15 21:30] gabemontero commented on #222
aahh... ok, looking at the k8s client go code, if verbosity is set to 10, it won't truncate, but his plugin's verbose option sets it at 8

@Xaseron or @schdief - can either of you run with a debug version of the plugin?

If so, the hpi file in this zip set's the `oc` verbose level to 10

[client-plugin-1.zip](https://github.com/openshift/jenkins-client-plugin/files/2870924/client-plugin-1.zip)

Ge

[2019-02-15 21:36] gabemontero commented on #224
v1.0.25 of the plugin has been initiated at the update center

[2019-02-18 07:27] gsalamin opened #231 "Invalid flag '--ignore-not-present' used in README.md example"
In the example ["Want to promote or migrate objects between environments?"](https://github.com/openshift/jenkins-client-plugin#want-to-promote-or-migrate-objects-between-environments) the delete statement use the flag `--ignore-not-present`.
This argument is not recognized as a valid flag. Do you mean `--ignore-not-found` which is a valid flag of the `oc delete` command?

`maps.delete( '--ignore-n

[2019-02-19 14:15] sohrab- opened #232 "No logs when running in Docker agent"
I have set up a job that executes in a short-living container, i.e. `agent { docker {} }`.

None of the log outputs from `oc` seem to be making its way to console logs:

![image](https://user-images.githubusercontent.com/4444588/53020462-05a0ff80-34ab-11e9-9440-f9bed779cd0c.png)

For example, one of the above actions is a `startBuild` that [should](https://github.com/openshift/jenkins-client-plugi

[2019-02-19 18:40] gabemontero commented on #231
thanks @gsalamin

PR to fix is up

[2019-02-19 19:26] #231 closed

[2019-02-19 21:03] Denis220795 opened #234 "Search of oc cli in the filesystem may take too long time"
Hello @gabemontero , after adding some logic for debug in #224  (search of oc cli executable in all the filesystem) we start getting case when plugin stucks in pending state on oc_action step and it doesn't print debug info with the path of found oc cli executable so I think it searches oc cli executable in all the filesystem that on development Jenkins node takes to long time.

Note that it worke

[2019-02-19 21:33] gabemontero commented on #232
did you follow the instructions at https://github.com/openshift/jenkins-client-plugin#compatibility-with-declarative-pipeline and enclose all your `openshift` invocations with `script { ... }` closures?

[2019-02-19 22:31] gabemontero commented on #234
Hey @Denis220795

Here's one that only searchs the directories in `PATH` on the target

[client-plugin-1.zip](https://github.com/openshift/jenkins-client-plugin/files/2882225/client-plugin-1.zip)

Would you be able to try it like before?  There is no debug in it currently (I removed it after vetting it in some of my agent scenarios).

[2019-02-20 19:38] Denis220795 commented on #234
@gabemontero , confirm that I don't see any debug messages in the logs now. I've tested it on the test instance without lots of files in the file system but hope as you have removed searching of oc executable in the file system it should also work fine on development instance too. Let me know please when we can try new release version on the development server.

[2019-02-20 19:50] gabemontero commented on #234
great news @Denis220795 and thanks again for helping with testing

I'll continue to post updates here and/or https://github.com/openshift/jenkins-client-plugin/pull/235 as I move the fix through our pipeline until we have a new official version, etc.

[2019-02-20 19:52] #234 closed

[2019-02-20 19:57] Denis220795 commented on #234
Ok, great, thanks for quick fixes @gabemontero !

[2019-02-20 20:01] gabemontero commented on #234
v1.0.26 has been initiated at the jenkins update center

[2019-02-20 21:02] gabemontero commented on #234
and it is available at https://updates.jenkins-ci.org/download/plugins/openshift-client/

[2019-02-21 07:11] sohrab- commented on #232
@gabemontero I am using _scripted pipelines_, not declarative pipelines.

Here is the snippet from my shared library, if that helps:

[code]

[2019-02-21 10:50] GolanTrevize10 opened #237 "To be able to run some Openshift commands without node"
Hi, currently this plugin does not allow run Openshift commands outside a node block. I don't think you really need to make a Jenkins agent busy just to start a build or a deployment in Openshift. I suggest as an improvement to be able to run Openshift commands outside node block

[2019-02-21 14:54] gabemontero commented on #232
your snippet above may be scripted @sohrab- but in your description you noted the use of the `agent` step.

That is declarative syntax.

See https://jenkins.io/doc/book/pipeline/syntax/#agent

It is a declarative pipeline "Section"

When you call the snippet above, is it within a `pipeline { ...}` closure?

If so, then you need to following the instructions I noted in https://github.com/openshift/

[2019-02-21 21:25] sohrab- commented on #232
My apologies for the confusion. It _is_ scripted pipelines. Please ignore the `agent {}` thing above. We start with `node {}` and the _agent_ is defined like below:

https://jenkins.io/doc/book/pipeline/docker/

![image](https://user-images.githubusercontent.com/4444588/53202618-186a2e80-367b-11e9-86f1-ca83451bb391.png)

[2019-02-22 23:18] gabemontero commented on #232
OK, I was able to set something analogous up.

Here is my pipeline:

[code]

And I get the output ... same output I get when running from the command line in my cluster:

[code]

Can you add a `openshift.verbose(true)` before your start-build call (you can add an `openshift.verbose(false)` right after it to minimize output) ?

I suspect
[code]
has something to do with it .... Jenkins and Jenkins/g

[2019-02-22 23:28] gabemontero commented on #232
I suspect it needs to be something like
[code]
with double quotes inside single quotes, but I'll know more after you get me the debug data, and I don't have time to construct a --from-file test scenario

[2019-02-25 01:39] sohrab- commented on #232
Thanks, @gabemontero. I am not sure if the quotes are the issue but just to remove them as a factor, I stopped using string interpolation altogether:

[code]

With verbose logging on, I saw the following log entry:

[code]

I am not sure why it would inoperable for a BuildConfig selector but I changed my code to this and now the logs are getting printed:

[code]
![image](https://user-images.github

[2019-02-25 02:09] sohrab- opened #238 "Warnings that oc command is not found when it does exists"
Since upgrading the plugin from 1.0.24 to 1.0.26 (Jenkins v2.165), I started getting these warning when invoking each `openshift` commands.

![image](https://user-images.githubusercontent.com/4444588/53309625-0c8d9f00-38fd-11e9-9c7b-b09faccfcc31.png)

I am running the jobs in a containerised agent that does have the `oc` binary available in `/bin`. The first few lines of the screenshot above are t

[2019-02-25 08:04] bernardgut opened #239 "Cannot invoke method getServerUrl() on null when invoking openshift.withCluster in a parallel pipeline"
Hello

This is possibly a duplicate of 206.

When you do

[code]

Towards the end of any of the parallel tasks you systematically get

The full stack:

There is a race condition on the openshift global variable.

The question is the following : Is there any way I can run parallel tasks (builds) triggered from jenkins on an openshift cluster?

thanks
- Bernard

[2019-02-27 13:23] bernardgut commented on #239
Note that I have now seen the docs on "Compatibility with parallel step". I am just not clear whether the example provided actually runs the steps in parallel or whether the lock means it will in practice run it sequentially...

Can someone clarify?

thanks
- Bernard

[2019-02-27 14:37] gabemontero commented on #239
The example provide runs in parallel in parallel, but you have to ensure the parallel closure is within the openshift.withCluster / openshift.withProject closures, as the example shows.

If you have a form like
[code]

you *HAVE* to use openshift.setLockName to serialized things

[2019-02-27 19:08] gabemontero commented on #232
OK good news @sohrab-

A couple of follow ups:
1) on the message
[code]
the implementation detail is that the build output log processing can interfere with the json processing from interactions with the openshift api server.  There is no good way to isolate the two.

That is why our examples promote the form

[code]

2) yeah I meant to also note isolating each arg as a param as well as noting the

[2019-02-27 19:08] #232 closed

[2019-02-27 19:18] gabemontero commented on #238
Yeah eventually I'll make this a debug message that only appears if you have verbose on.  But given the problems we have had hitting the sweet spot of a) which jenkins launch mechanism to use and b) all the `oc` permutations folks want to run, I want this debug readily available for a bit.

Leaving this open to remind me about changing the log level eventually.

If by "containerised agent" @sohrab

[2019-02-27 20:33] gabemontero commented on #237
Our integration points into jenkins pipelines requires it.  Changing that would be rewrite of the plugin.  That is not happening at this point.

[2019-02-27 20:33] #237 closed

[2019-02-27 20:36] gabemontero commented on #215
I'm also curious it changing this to

`openshift.exec("$podName","bash","-c","mkdir", "-p",  "/etc/systemd/system/vagrant-vm.service.d/workDir/workspace")`

changes the behavior for you ... we've seen some interesting "features" in how jenkins process launching handles args and how golang `oc` expects them to look

Not grouping multiple params separated by space has helped others

[2019-02-27 23:05] sohrab- commented on #238
We do a few different setups. From memory, the screenshot is from a pipeline similar to below:

[code]

(I know it's a strange way of doing it but it's handy.)

[2019-02-28 22:38] mbecca opened #241 "[QUESTION] Any support for Job execution in a pipeline?"
Hi,

I need execute a Job (for liquibase migrations) in a pipeline (https://docs.openshift.com/container-platform/3.11/dev_guide/jobs.html).
Is there some kind of support for this? For example, execute it (simil rolllout() of a DC) and monitor that it has been executed correctly.

Excuse me for my poor English.

Regards,

M.

[2019-02-28 22:49] gabemontero commented on #241
There is an `openshift.run(...)` command that is a passthrough to `oc run`

Presumably you could duplicate the `oc run` example in https://docs.openshift.com/container-platform/3.11/dev_guide/jobs.html

`openshift.run(...)` only returns a result, not a selector.  So you would have to manually create a selector via `openshift.selector(...)` and they you could monitor

[2019-02-28 23:12] mbecca commented on #241
Hi @gabemontero !

Thanks for the comment! I'm going to keep this in mind.

M.

[2019-03-01 14:33] #241 closed

[2019-03-03 11:48] lioramilbaum commented on #215
Tested the following pipeline:
`node {

    openshift.withCluster() {

        openshift.exec("jenkins-15-1wngp","bash","-c","mkdir",
            "-p", "/var/tmp/workDir/workspace")
    }
`
The output:
`Running on Jenkins in /var/lib/jenkins/jobs/test/workspace
[Pipeline] {
[Pipeline] echo

[Pipeline] _OcContextInit
[Pipeline] readFile
[Pipeline] readFile
[Pipeline] _OcAction
[Pipeline] }
[Pipelin

[2019-03-06 20:26] gabemontero commented on #215
OK, that example helped narrow it @lioramilbaum

Unfortunately, it appears to be a bug in the 3.11 `oc`.

See what transpired when I ran the same thing via `oc` from the command line:

[code]

Same problem.

Since the old plugin does not use `oc`, it is a different ball game wrt it working.  But this plugin is dependent on `oc` to work.

Btw I also see this with the 4.0 `oc`.

You should file an i

[2019-03-06 20:26] #215 closed

[2019-03-07 03:41] vfreex commented on #222
@gabemontero Hi, we also met a similar issue with the recent version of the plugin. I've upgrade it to v1.0.27, but the issue persists.

What we are doing in the pipeline script is:

- Starting a OpenShift build from an existing Build Config.
- Using the watch closure to wait for it to complete

However, the watch closure returns false even the watched build is complete. It doesn't always happen,

[2019-03-07 03:44] vfreex commented on #222
I am not sure if this is caused by the new way of launching `oc` using `Launcher.launch()`. I need more time to do some investigations (for example, enable the verbose mode and try older versions of the plugin). Do you have any clue about it?

[2019-03-07 06:21] vfreex commented on #222
Another problem:
I created a test job to start and wait for a OpenShift build with verbose logging enabled in order to reproduce this issue. One interesting issue that I found is that after it prints `12:51:05 Checking watch output and running watch closure again in 1200ms having processed 964570 bytes of watch output so far`, the job seems to hang with no output. 10 minutes later, the job continu

[2019-03-07 07:04] vfreex commented on #222
Update: I added some logs to OcWatch, it seemed to me the return value of `proc.isAlive()` is unreliable. It returned false but the `oc` process is still watching. So the next line `proc.join()` will hangs until the `oc` process is actually stopped.

My patched code: https://github.com/openshift/jenkins-client-plugin/compare/master...vfreex:yuxzhu-test-1

Test run log:
[code]

Back to the original

[2019-03-08 17:01] alexanderrtaylor opened #244 "_OcAction does not have a timeout or data for the status"
Issue:
If _OcAction from https://github.com/openshift/jenkins-client-plugin/blob/master/src/main/resources/com/openshift/jenkins/plugins/OpenShiftDSL.groovy#L1384 is failing(because of a template which does not have resources or the image is not there or the pod keeps failing) the Jenkins pipeline is never able to make progress or give any data about what is happening. It means that the pipeline m

[2019-03-11 10:33] waveywaves commented on #217
I would like to work on this issue @gabemontero.
Anything I need to keep in mind before I start this ?

[2019-03-11 20:34] toschder opened #245 "openshift.process(...) or apply(...) results in the path "/tmp/.....markup" does not exist"
[BuildConfig.zip](https://github.com/openshift/jenkins-client-plugin/files/2958809/BuildConfig.zip)

Hi,
I tried to implement the CLI commands
`oc process -n $project -f BuildConfig.yml | oc apply -n $project -f -`

with the following code:

[code]
I´m wondering why the readYaml file will be written to a temporary .markup file - and that file isn´t found afterwards.
The error I receive is:
`failed

[2019-03-12 19:53] gabemontero commented on #244
Sorry @alexanderrtaylor but that gets to tricky if folks are using `timeout` within their pipeline.

Whose timeout duration takes precedence among others.

Nor at this point am I inclined to add parameters to signatures to enable this.

This plugin defers to writers calling this plugin from within a timeout closure.

We won't be making this change.

Thanks for the suggestion / interest.

[2019-03-12 19:53] #244 closed

[2019-03-12 20:02] gabemontero commented on #217
working out how to test the headless service from within groovy / java will be the tricky part here @waveywaves

the queries you have to make into openshift for headless require more sophistication and parsing

ultimately, if you parse the api objects correctly, you get an ip /port which you can test via socket connection like the current verifyService functionality does

and of course, you need t

[2019-03-12 20:28] gabemontero commented on #245
can you provide the actual yaml that is in `buildConfigYaml` @toschder
both when it fails, and when it succeeds

[2019-03-12 20:29] #239 closed

[2019-03-12 21:16] toschder commented on #245
I´ve added it to my first post (BuildConfig.zip) - the problem is not the BuildConfig.yml itself - it looks like it has something todo with the jenkins slave. On "simple" Unix-Slaves it´s working - on Slaves started with the Kubernetes plugin in openShift it´s not working. Any suggestion how to "debug" this? The createTempTextFile(...) seems to work (there´s no PermissionDenied or whatever excepti

[2019-03-13 04:22] vfreex commented on #245
Are you running your agent in the default jnlp container or a sidecar container? Kubernetes plugin uses different ways of launching process.

[2019-03-13 11:06] fyuan1316 commented on #245
+1
Encountered the same problem， use:
1)  kubernetes plugin
2) pod has 3 containers  and  openshift.withProject{} in a sidecar

...
copyobj = openshift.selector(kind, instance_name).object()
copyobj.status.state = 'init'
openshift.apply(copyobj)
...

[code]

[2019-03-13 11:27] vfreex commented on #245
I think I figured out why this issue happens:

You are calling those functions from a sidecar container of a Kubernetes plugin created pod.

1. When applying an object to `openshift.apply()` or `openshift.process()`, a temporary file is created in the `jnlp` container.

2. But when actually running `openshift.apply()` or `openshift.process()`, `oc` tries to access the temporary file from the sidec

[2019-03-13 11:31] vfreex commented on #245
For option 2, I think we can directly pump the json content into stdin of `oc` process if #243 is merged.

[2019-03-13 11:34] toschder commented on #245
sounds like a good strategy - what I don´t understand: What´s the need to write a temporary file? Could´nt this be removed completely?

[2019-03-13 12:04] vfreex commented on #245
@toschder It is how the plugin implements the `apply()` and `process()` functions for an object: It serializes the object to a temporary JSON file first, then calls `oc apply|process -f <path-to-the-temporary-file>` to finish the action.

[2019-03-13 17:53] #222 closed

[2019-03-13 18:08] gabemontero commented on #222
I plan on cutting v1.0.28 of this plugin either later today or early USEast time on Mar 14

[2019-03-16 12:11] vfreex commented on #245
Unfortunately, when using k8s plugin's container agent, redirecting stdin is not supported.
That plugin has more limitations than we imagine.

[2019-03-16 12:39] toschder commented on #245
Hi all, would it be an option to use workspace@tmp directory instead of java.io.tempdir ? From my point of view this would make more sense (files belong to whats going on in the workspace) - and the workspace dir is shared between side-car and main container. This would solve the issue by only a small change.

[2019-03-17 06:33] vfreex commented on #245
@toschder  Yeah, this sounds like a good plan.

[2019-03-18 19:31] gabemontero commented on #245
Thanks for the analysis @toschder @vfreex

I've created PR https://github.com/openshift/jenkins-client-plugin/pull/248 to facilitate the suggestion and start regression testing

As an FYI, the non-use of a workspace tmp dir dates back to the original creation of this plugin (prior to my direct involvement) back when we first discovered the old docker workflow plugin and its docker global variable.

[2019-03-19 11:09] vfreex commented on #245
@gabemontero Thanks. I don't have time to test this recently but it seems to be good. 👍

[2019-03-19 17:57] #245 closed

[2019-03-19 18:01] gabemontero commented on #245
initiated v1.0.29 of the plugin to pick up the fix for this

[2019-03-21 06:55] fyuan1316 commented on #245
hi，all:
I solved this problem in another way, maybe it is also suitable for you. :smile:
In the "kuberntes pod template" parameter configuration item, I added the data volume type of the pod to emptydir and the path to "/tmp".
![image](https://user-images.githubusercontent.com/42265657/54736921-69246700-4be8-11e9-8870-4f6a6b42d046.png)

[2019-03-26 15:55] Xaseron commented on #222
Looks like this fixed our problem. Thanks for your help.

[2019-03-26 18:56] gabemontero commented on #221
closing out for inactivity ... please reopen if data requested in https://github.com/openshift/jenkins-client-plugin/issues/221#issuecomment-459110772 can be provided

[2019-03-26 18:56] #221 closed

[2019-04-01 09:18] jiangytcn opened #254 "how to fail fast in untilEach"
Hello,

I'm using  https://github.com/openshift/jenkins-client-plugin#watching-and-waiting-of-course this method to watch my pod status.
Pod is created by the job file, and what I want to do is only watching the running state of the container, if the container in `Error` state,  is that possible to make it fail fast other than the timeout interrupt the pipeline ?

[2019-04-01 14:02] vfreex commented on #254
Yes, you can add a condition to check the unexpected status then throw an exception or call the `error` step:
[code]

[2019-04-02 02:15] #254 closed

[2019-04-04 12:23] stujb opened #255 "input step with jenkins restart causes failure"
We have a fairly complex pipeline that loads different steps depending on how users want to deploy their applications. These various steps include build steps, deployment steps and approval steps.. We migrated from the deprecated openshift plugin to this one and found an issue where we get a failure on pipelines with multiple approval steps in the same pipeline.

The issue manifests itself on a pi

[2019-04-04 20:23] gabemontero commented on #255
First, thanks for the precise details and simplified test case.

This is feeling like jenkins pipeline limitations to me, especially in the context of external groovy's.  I *may* have an acceptable work around for you.

Some background:
- so this plugin is implemented using the pipeline "Global Variable" integration point.  That choice was the best for producing fluent style syntax, which was an i

[2019-04-05 10:49] stujb commented on #255
Thanks for the prompt and detailed reply.

My bad on one thing - in our original code that failed we did have the call to openshift.withCluster() prior to the openshift.withProject() call. I mistakenly omitted this when reducing down to the test code.

I have added the withCluster() call into the test code and the same issue still occurs when I have the withCluster() call paired with each withProj

[2019-04-05 22:37] gabemontero commented on #255
Thanks for the updates @stujb

First:  glad you have workaround

Edge case: yeah, I'm only more convinced on my original suspicion ...where I suspect separate groovy files has different ramifications wrt hydrating after jenkins restart, especially in conjuction with pipeline "global variable" integrations like this plugin.

Next steps: nothing we can codify to address within this plugin, so updati

[2019-04-08 12:31] stujb commented on #255
Please feel free to use whatever test code you require and happy to review any doc updates as well

[2019-04-10 20:27] gabemontero commented on #255
FYI, looking at the combination of the GlobalVariable, CpsScript, CpsFlowExecution, and LoadStepExecution (the actual `load` step implementation) source code in the jenkins workflow plugin, I've further convinced myself that this is a side of how these things work.

In particular:
- the GlobalVariables our housed in the binding of the CpsScript
- the load step uses the flow execution to create a n

[2019-04-10 21:49] gabemontero commented on #255
PR with the readme update is up

[2019-04-11 14:56] #255 closed

[2019-04-15 09:53] GolanTrevize10 opened #257 "Error in jobs with spaces in name"
Hi, after upgrading from 1.0.23 to 1.0.29 we are getting the following error in jobs with blank spaces in the name. After downgrading it works again.

`err=error: Unexpected args: [jobs/jobs/Openshift- CB-endtoend_monitoring/workspace/apply3955269616185031854.markup]
See 'oc apply -h' for help and examples.
, verb=apply, cmd=oc --server=xxxxx --insecure-skip-tls-verify --namespace=its-cicd-endtoen

[2019-04-15 14:06] waveywaves commented on #257
Hello @GolanTrevize10 Thank you for opening up this issue !
Could you pass on the Jenkinsfile ? It would help in understanding the issue better.

[2019-04-17 18:35] gabemontero commented on #257
@waveywaves this is an old pain point (spaces in names or params) among several paint points wrt launching `oc` and its multitude of possible options from the client plugin in the various jenkins env/scenarios.  A definite touch point in day 1 code walkthroughs at the f2f.

we've oscillated a fair bit between 1.0.17 and 1.0.29 in trying to handle everything

and there certainly was change in this

[2019-04-17 19:43] gabemontero commented on #257
And I realized, one of the other changes we had to employ recently was moving any temp files created from the generic jenkins tmp dir to the workspace tmp dir (this was for some multi container agent runs).

the generic jenkins temp dir did not have any spaces in the name

workspaces can, as noted here

[2019-04-18 08:00] GolanTrevize10 commented on #257
@gabemontero yes we can test a pre-release version in our test environment

[2019-04-18 14:54] gabemontero commented on #257
cool thanks @GolanTrevize10
the changes in the PR referenced above have passed our regression bucket
but I'll hold off for a bit on cutting a new release until I hear from you
here it is:
[client-plugin.zip](https://github.com/openshift/jenkins-client-plugin/files/3094956/client-plugin.zip)

there are a few debug message that show up in the jenkins pod log (not the run log in the jenkins console)

[2019-04-18 20:56] #257 closed

[2019-04-22 20:16] gabemontero commented on #257
Hey @GolanTrevize10 - if you think you can try the patch in https://github.com/openshift/jenkins-client-plugin/issues/257#issuecomment-484544021 in the next day or so, great.

But if you think you'll be delayed further, I'll go ahead and cut the next version of the plugin

thanks again

[2019-04-22 20:46] GolanTrevize10 commented on #257
Hi Gabe sorry for the delay. I was on vacations. We will try it tomorrow

El lun., 22 abr. 2019 23:16, Gabe Montero <notifications@github.com>
escribió:

[2019-04-23 05:59] pavenova commented on #257
Hi, @gabemontero
Did I understood it correctly, fix should be included at version 1.0.29?
I was trying to find the changelog, but there is probably none existing ;/

Thanks :)

[2019-04-23 13:52] gabemontero commented on #257
I have *NOT* cut a new version with the fix contained in the patch I attached here @pavenova

[2019-04-23 15:15] pavenova commented on #257
Hi, as mentioned in edit of the comment, I noticed it seems to be impacted version with bug, once I tried that attached there, it seems to be working fine , FYI, thanks

[2019-04-23 17:49] gabemontero commented on #257
ok thanks for trying the patch @pavenova and confirming it addressed the problem for you

[2019-04-23 17:53] GolanTrevize10 commented on #257
Pavenova and me work together so it is OK for me as well 🙂

El mar., 23 abr. 2019 20:49, Gabe Montero <notifications@github.com>
escribió:

[2019-04-23 18:00] gabemontero commented on #257
initiated v1.0.30 of this plugin

[2019-05-03 15:32] ThomVivet opened #262 "openshift.create() output format is always 'name'"
I try to convert the following openshift shell command to openshift plugin syntax:
[code]

It should be:
[code]

But the configMap remains empty...

In fact the openshift.create() output format is always 'name' despite requested yaml:
[code]
You can see --output=yaml -o=name ...

So the appropriate command becomes:
[code]
... which is not friendly.
I expect the requested output format to be taken

[2019-05-03 15:50] mbecca opened #263 "openshift.selector(selectorName).exists() throw Exception when doesn't exist"
Hello,

I have an error when execute 'openshift.selector(selectorName).exists()' to verify if a project exists

The error is:

ERROR: Unable to retrieve object names: selector([name=null],[labels=null],[namelist=[project/prueba-create-project]],[projectlist=null]); action failed: {reference={}, err=Error from server (Forbidden): projects.project.openshift.io "prueba-create-project" is forbidden: U

[2019-05-03 16:15] TomSchmitz commented on #263
Ich bin bis 06.05.2019 abwesend.
I am out of the office until 06.05.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht
"[openshift/jenkins-client-plugin] openshift.selector(selectorName).exists
() throw Exception when doesn't exist (#263)" gesendet am

[2019-05-03 16:15] TomSchmitz commented on #262
Ich bin bis 06.05.2019 abwesend.
I am out of the office until 06.05.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht
"[openshift/jenkins-client-plugin] openshift.create() output format is
always 'name' (#262)" gesendet am 03.05.2019 17:32:48.

Diese

[2019-05-06 13:23] maikebertpsc commented on #206
I am a little bit surprised that this problem is not having priority.
How should somebody, who needs to re-use such code in several pipelines, stay DRY without using shared libraries?

[2019-05-06 16:59] waveywaves commented on #263
@mbecca Thanks for opening up this issue.

It does make more sense to throw an exception, like "ObjectNotFoundException" which is more appropriate in the case that this error comes up.

@gabemontero @sthaha What do you think ?

[2019-05-06 20:14] saikirandusari commented on #263
Error message clearly says. “Access forbidden”. Seems you do not have access to namespace selector object.We’ve had same issues and have resolved by performing below action.

Instead you could try
def projectName=openshift.raw(“project -q”)
and then perform null check on projectName.

Hope this helps.

[2019-05-07 18:04] gabemontero commented on #262
Hi @ThomVivet

Yep use of `-o=name` in its core `oc` invocations is a fundamental implementation detail of this plugin.  That is not going to change at this point.

Also, in general, the plugin tried to abstract out the major `oc` params in a more first class fashion.  Output of json or yaml was one of those.  Trying the special case those options down at the lower levels is messier.

So instead o

[2019-05-07 18:49] gabemontero commented on #263
The analysis from @saikirandusari is correct.  And his workaround would just access the name of the current project.

And given that @waveywaves , we should not assume foribidden access == not found exception.

Cross namespace access of any is an escalated permission scenario in openshift, even if you want to simply check on its existence.

And if you wanted to provide project existence checks to

[2019-05-07 18:49] #263 closed

[2019-05-07 19:49] mbecca commented on #263
Hello,

I have all permission!, try execute this command with a non existing project.
In fact, if a project exists, this command (openshift.selector(selectorName).exists()) work perfectly!

Regards.

M

[2019-05-07 20:07] gabemontero commented on #263
ahh ...yeah I remember now that `oc` can be a little misleading sometimes wrt not founds and types like this @mbecca .... sorry for the confusion.

This can be easily proven by running
`oc --server=https://okd.server.ar:8443/ --insecure-skip-tls-verify --namespace=pruebas-s2i-jenkins --token=XXXXX get project/prueba-create-project -o=name --ignore-not-found`

Where you specify your actual token wi

[2019-05-07 20:19] gabemontero commented on #263
Also, since our log does not print out the token, can you at least confirm you have an `openshift.withCrednetials(...)` line that points to a jenkins credential that has the token for `mbecca` that translate to the token you supply to `oc --server=https://okd.server.ar:8443/ --insecure-skip-tls-verify --namespace=pruebas-s2i-jenkins --token=XXXXX get project/prueba-create-project -o=name --ignore-

[2019-05-07 22:50] mbecca commented on #263
Yeah, I have openshift.withCredentials(...) in jenkinsfile.
I have only cluster role binding for create or delete project in this another cluster. (we hace 2 cluster, non production and production clusters).

I repeat, if I try with a project that exists, the command works correctly. I suspect that when the project does not exist, I should not have permission to ask if the project exists in the cl

[2019-05-07 23:51] gabemontero commented on #263
On Tue, May 7, 2019 at 6:50 PM mbecca <notifications@github.com> wrote:

Good catch.  Being able to create and delete a project requires different
permissions from being able to get or list projects.

Run these commands from the command line while logged into the clusters in
question:
- oc policy who-can create projects
- oc policy who-can delete projects
- oc policy who-can get projects
- oc poli

[2019-05-09 14:36] ThomVivet commented on #262
Thank you for your answer @gabemontero.
I just tried your idea using `.asYaml()`:
```openshift.apply(openshift.create("configmap", "frontend-config", "--dry-run", "--from-file=config.js").asYaml())```

... I have no error but the configMap remains _empty_ (I created it just before).

Under the hood it launched the following commands:
1. `oc create configmap frontend-config --dry-run --from-file=co

[2019-05-13 18:48] gabemontero commented on #262
@ThomVivet no I missed the `--dry-run` from your earlier example.

Since you are not actually creating the configmap, the subsequent `oc get` the `asYaml()` call does will not find anything to dump the yaml for.

So yeah, since `oc create` does not have an `--ignore-if-already-exists`, your use of `openshift.raw(...)` is this plugin's only current solution to your scenario.

We should clarify in t

[2019-05-14 13:08] ThomVivet commented on #262
OK, thanks in advance for documentation update and the future feature

[2019-05-24 10:46] cadwmaster opened #268 "Is there a way to "watch" an openshift.exec ?"
I'm using `openshift.exec` to execute a large process and what to see the progress of that live and not just at the end of the process, is any way to do that ?

[2019-05-24 13:42] gabemontero commented on #268
Not at the moment @cadwmaster  ... it would entail a code change in the plugin.

I *think* it would be possible if we changed `openshift.exec` to work like `OpenShiftResourceSelector.logs` and `OpenShiftResourceSelector.startBuild` but we'd have to prototype to be sure.

/assign @waveywaves

Another educational exercise (probably easier than the verifyService endeavor)

[2019-05-24 14:23] Gl4di4torRr opened #269 "using selector to delete a route"
I am trying to delete a route via the selector like so

[code]

This returns an error: `the server doesn't have a resource type "route"`

Per https://github.com/openshift/origin/issues/15020, it seems like I need to pass in `--service-catalog=true`. I don't really see any information around this for the jenkins client plugin. Maybe I am missing something? Thanks!

[2019-05-24 14:30] gabemontero commented on #268
/assign @sthaha

[2019-05-24 17:23] gabemontero commented on #269
hey @Gl4di4torRr  - yeah this is a version of `oc` and your cluster thing.  I just tried it on a 4.x cluster and `openshift.selector("route/myroute").delete()` worked for me.

And yeah, we don't cover every nuance of `oc` interaction with the cluster in this plugin's doc.  There is an implied expectation that you know those nuances exist and consult the docs and `oc` help as needed.  End of the da

[2019-05-24 17:29] Gl4di4torRr commented on #269
@gabemontero thanks! i'll get back to you on this.

[2019-05-25 15:58] toschder opened #270 "openshift.patch always returning 400 BadRequest"
Hi,
I need to patch an existing ImageStream. I tried the code sample from the documentation adjusted to my needs - but I always got 400 BadRequest. Here´s the code:

`openshift.patch("is/mystream", '\'{"metadata":{"annotations":{"openshift.io/image.insecureRepository":"true"}}}\'')`

The error I receive is:
`17:53:25  {reference={}, err=, verb=patch, cmd=oc --server=https://...... --insecure-skip-

[2019-05-27 09:00] waveywaves commented on #270
Hello @toschder Below is the input in the Jenkinsfile I used and you can see the error I got below.
[code]

[code]

After I tested it out with the below, it worked properly.

[2019-05-27 10:09] toschder commented on #270
Hello @waveywaves - that´s what I already implemented, but thank you anyway :-)
Modifying the ImageStream this way works - but gives a warning in the log(s):
`StdOut>Warning: oc apply should be used on resource created by either oc create --save-config or oc apply`
So,using the "openshift.patch(...)" method is currently not possible?

[2019-05-27 11:03] waveywaves commented on #270
@toschder Currently I am working on another issue and will update this as soon as I am done with that. As for now, I would suggest using the workaround method to patch the image stream.

[2019-05-27 11:04] waveywaves commented on #268
/assign waveywaves

[2019-05-27 11:12] waveywaves commented on #268
Will take this up. Putting it in the queue as of now.

[2019-05-27 13:46] toschder opened #271 "openshift.process fails converting stdOut to Json"
I´m trying to `openshift.process(.....)` my template, to than `openshift.apply(....)` it.

When invoking
[code]

I sometimes get this message:

`Verbose sub-step output:
	Command> oc --server=https://myserver --insecure-skip-tls-verify --namespace=myproject --loglevel=3 --token=XXXXX process -f /home/jenkins/workspace/myJenkinsProject/DeployTo-DEV3.9/process2542071550542573450.markup -p PROJECT=my

[2019-05-27 15:26] toschder commented on #271
I removed the logLevel(3) - but than I cannot see the
`oc --namespace --server......` commands anymore. These are required in the logs files for better traceability.

I would suggest changing the method and add a statement to "extract" the json part:
[code]

[2019-05-28 06:10] megakoresh commented on #116
@gabemontero This does not work anymore, even if it did before, so I think the issue should be reopened. Example:

[code]

Prints the same message as in OP:

[code]

Tested with openshift `3.11`

[2019-05-28 09:06] waveywaves commented on #271
Hello @toschder !
openshift.process is only meant to parse templates, if you pass in anything else, it should fail to read the contents of the file as the provided resource is not a template. I tested this out with `oc process` command for a given file with a Service defined and got the following error.

[code]

When I tested openshift.process with the following in the Jenkins Pipeline
[code]
it w

[2019-05-28 11:43] toschder commented on #271
hello @waveywaves I´m passing a valid template.yaml to openshift.process(.....) , see my code sample:

[code]

**BUT**: If you enable the **_logLevel(3)_** the openshift.process(....) call will internally first get back a String starting with some *.go output

`StdOut>I0527 13:09:35.632846 27 cached_discovery.go:77] skipped caching discovery info due to the server could not find the requested reso

[2019-05-29 12:01] NickLiffen commented on #238
Hey 👋 Any update on making this into a specific verbose/debug stage? Love the plugin; but sometimes this is causing confusion on people thinking it doesn't work; even when it does.

[2019-05-29 14:29] gabemontero commented on #270
@waveywaves @toschder at least with the origin error that @toschder reported it is the use of `/` ... groovy in jenkins is a real pain about those type of characters.

The `m` character the message is complaining about most likely is from `is/mystream"`

Try separating `is` and `mystream` into separate charactivers.

[2019-05-29 14:46] gabemontero commented on #116
@megakoresh the form of your pipeline in your BC does not match what is required by the `checkout` command ... plus your pipeline in now way even uses the plugin for this repo.

There is no need to reopen this issue.

Read the jenkins docs for pipelines and the scm step and use the jenkins `pipeline` directive like the example above at https://github.com/openshift/jenkins-client-plugin/issues/116#

[2019-05-29 14:48] gabemontero commented on #238
thanks for the reminder @NickLiffen .... I'll try to get to it this week.

@waveywaves fyi only (I can handle this one, but I'll tag you in the PR).

[2019-05-29 15:41] gabemontero commented on #271
@toschder @waveywaves we need the contents of the `configYaml` to debug

We've got test cases in our regression bucket that look like @toschder 's example usage of `openshift.process` but the contents of the yaml are the key.  More pain wrt groovy string parsing.  There has been pain with this in the past.

Also @toschder just as a sanity check, clarify the plugin version just so we know we are ta

[2019-05-31 06:47] toschder commented on #271
Hi @gabemontero sorry for missing the version number, but it´s just the latest version.
To be able to reproduce the issue you can try with any Template, but you need to set the logLevel(..) -and you have to make sure that the CLI will complain with a message (which may depend on the current state of your openshift cluster, for example if the image was deployed before or whatever)
In my example I m

[2019-05-31 07:40] TomSchmitz commented on #271
Ich bin bis 03.06.2019 abwesend.
I am out of the office until 03.06.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] openshift.process fails converting stdOut
to Json (#271)" gesendet am 31.05.2019 08:48:05.

[2019-05-31 10:22] toschder commented on #270
@gabemontero I dont think it´s from `is/mystream` - I´ve tested it with `is/a-real-life-name` and whatever the name is, the error remains. The hint `invalid character 'm' looking for beginning of object key string` is pointing me to the json.

[2019-05-31 11:13] TomSchmitz commented on #270
Ich bin bis 03.06.2019 abwesend.
I am out of the office until 03.06.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] openshift.patch always returning 400
BadRequest (#270)" gesendet am 31.05.2019 12:23:05.

Di

[2019-05-31 13:38] Gl4di4torRr commented on #269
@gabemontero getting back to looking into this.

Here is my oc version and cluster version:

[code]

I'll be digging more into this myself today. I'll see what I can come up with.

[2019-05-31 13:45] Gl4di4torRr commented on #269
@gabemontero you know what it just worked... maybe i was going crazy the other day. if i find this to be some intermittent issue with the OC and Cluster version, I'll try to look more closely into the implementation of this client before opening an issue next time :)

[2019-05-31 13:45] #269 closed

[2019-05-31 14:16] TomSchmitz commented on #269
Ich bin bis 03.06.2019 abwesend.
I am out of the office until 03.06.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] using selector to delete a route (#269)"
gesendet am 31.05.2019 15:38:29.

Diese ist die ein

[2019-05-31 14:16] TomSchmitz commented on #269
Ich bin bis 03.06.2019 abwesend.
I am out of the office until 03.06.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] using selector to delete a route (#269)"
gesendet am 31.05.2019 15:46:03.

Diese ist die ein

[2019-05-31 14:16] TomSchmitz commented on #269
Ich bin bis 03.06.2019 abwesend.
I am out of the office until 03.06.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] using selector to delete a route (#269)"
gesendet am 31.05.2019 15:46:00.

Diese ist die ein

[2019-05-31 14:23] gabemontero commented on #238
PR https://github.com/openshift/jenkins-client-plugin/pull/272 is up

I'll cut v1.0.31 at the jenkins update center after it merges.

[2019-05-31 14:35] NickLiffen commented on #238
@gabemontero Thanks for the update 👍 Appreciate how quick you got the PR up there 👍

[2019-05-31 15:16] TomSchmitz commented on #238
Ich bin bis 03.06.2019 abwesend.
I am out of the office until 03.06.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Warnings that oc command is not found
when it does exists (#238)" gesendet am 31.05.2019 16:

[2019-05-31 15:29] gabemontero commented on #271
thanks for the clarification @toschder

I've got it now.  And I've confirmed that the k8s code that `oc` uses to print that particular log to StdOut and that is why things are getting muddled.

This is a tricky to reproduce since you need to be on a system with the right client/server/apiObject combination to produce this.

And it *might* be tricky to fix since the stdout/stderr assumptions have b

[2019-05-31 16:08] gabemontero commented on #270
sorry I got my forward and backward slashes confused @toschder

So I just tried this and it works for me.  But I'm undoubtedly at a different oc version / cluster version than you.  My belief is it related to the particulars of your client/cluster verions combination.

Particulars of my repro:

[code]

Then my pipeline:

[code]

Output of the jenkins job:

[code]

Verification of the results:

[co

[2019-05-31 18:04] #238 closed

[2019-05-31 18:11] gabemontero commented on #271
If you can run with a manually build hpi file @toschder here it is
[client-plugin-1.zip](https://github.com/openshift/jenkins-client-plugin/files/3242391/client-plugin-1.zip)

If not, I may just cut a new version with the above PR sometime Monday / June 3 my time

[2019-05-31 18:19] TomSchmitz commented on #238
Ich bin bis 03.06.2019 abwesend.
I am out of the office until 03.06.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Warnings that oc command is not found
when it does exists (#238)" gesendet am 31.05.2019 20:

[2019-06-01 06:12] waveywaves commented on #217
/assign waveywaves

[2019-06-01 07:08] TomSchmitz commented on #217
Ich bin bis 03.06.2019 abwesend.
I am out of the office until 03.06.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] verifyService does not work with headless
Services (#217)" gesendet am 01.06.2019 08:12:18.

[2019-06-04 08:07] toschder commented on #270
Hi @waveywaves and @gabemontero sorry for the delay, here´s my output. Hopefully the version(s) help you in finding out what´s going wrong here:
[code]

[2019-06-06 19:00] #271 closed

[2019-06-06 19:45] gabemontero commented on #271
v1.0.31 has been initiated at the jenkins update center

[2019-06-12 00:13] myron-randall commented on #270
I am running oc 3.11 and get the same error for the patch, so I also tried the raw command and got the same error:
ERROR: raw command [patch, bc/name-service, -p, {"spec":{"strategy":{"dockerStrategy":{"dockerfilePath":"/home/jenkins/workspace/Online Service Name CRP/NameService/src/main/docker/Dockerfile.native"}}}}] returned an error;
{reference={}, err=Error from server (BadRequest): invalid ch

[2019-06-13 19:09] gabemontero commented on #262
docs PR finally constructed ^^

[2019-06-14 20:08] gabemontero commented on #270
In your case @myron-randall it looks like the `{"spec":{"strategy":{"dockerStrategy":{"dockerfilePath":"/home/jenkins/workspace/Online Service Name CRP/NameService/src/main/docker/Dockerfile.native"}}}}` is not surrounded by single quotes.

It looks like you need to employ the `'\'` prior to the first `{` and last `}` like @toschder and I have.

Also, what version of the client plugin are you usin

[2019-06-17 11:21] waveywaves commented on #268
/assign akram

[2019-06-17 11:23] waveywaves commented on #268
/assign @akram

[2019-06-17 11:25] akram commented on #268
/assign @akram

[2019-06-17 22:26] myron-randall commented on #270
I changed the quoting as described earlier in the conversation and it does work now. Thank You!

[2019-06-19 12:59] racodond opened #276 "Retrieve objects from several namespaces as a selector"
Hi,

If there's a way to retrieve objects from several namespaces as a selector? To achieve something similar to `oc get quota --all-namespaces` for instance?

Thank you

Regards,

David RACODON

[2019-06-25 19:20] gabemontero commented on #276
Not currently @racodond

It would require feature level work.

@waveywaves @akram FYI

[2019-06-25 19:45] gabemontero commented on #276
yep in hindsight @waveywaves there is a cross namespace correlation

[2019-06-25 19:51] racodond commented on #276
Thanks for your feedback guys!

[2019-06-25 19:59] racodond opened #277 "Needs two credentials for this plugin and oc commands"
Hi,

Among others, due to https://github.com/openshift/jenkins-client-plugin/issues/276, for now, I use both this plugin and oc commands in my scripted pipelines.

I have to define twice the credentials (token) in Jenkins: once with this plugin format and another time as a Secret format.

Would it be possible to eventually be able to use the same credentials for both ways?

Thank you

Regards,

Da

[2019-06-25 20:01] gabemontero commented on #277
don't see how @racodond

[2019-06-25 20:01] #277 closed

[2019-06-26 13:45] maikebertpsc commented on #221
The problem is in fact the upgrade from oc client 3.9 to 3.10.

This code prints different results based on the oc client version:
[code]

3.9
name=imagestreams/pinshop

3.10
name=imagestream/pinshop

[2019-07-01 23:28] Joyce808 opened #278 "openshift build pod keep running even after the Jenkins pipeline is cancelled from UI"
My Jenkins is using Openshift Client 1.0.18 and Jenkins version is 2.130.

I cancelled the Jenkins pipeline build from Jenkins UI, but found the openshift build pod is still running and caused the build image is uploaded to artifactory. Ideally the openshift build pod is cancelled too.

I think our problem is similar to:
https://bugzilla.redhat.com/show_bug.cgi?id=1357752
and the fix is done at pu

[2019-07-03 18:10] adambkaplan commented on #278
This should also be fixed in jenkins-client-plugin - try upgrading your Jenkins client. Note that we only have limited backwards support guarantees - the current client plugin works on OpenShift 3.11 and higher.

[2019-07-03 23:25] gabemontero commented on #278
The user’s pipeline can also factor into the cancel not working.  Please
supply the pipeline content for review as well.  There has been a fix here
in the past and this aspect has been stable for a bit.  Also, if by chance
there is a bug, the stack trace when it times out will be definitive in
yelling us where to apply any fixes.

On Wed, Jul 3, 2019 at 12:10 PM Adam Kaplan <notifications@github.c

[2019-07-04 03:01] Joyce808 commented on #278
Thanks guys for your help, my openshift version is 3.9. I am going to upgrade openshift jenkins-client-plugin version and see if it can fix the problem first. Can you please tell me what is the latest stable version of jenkins-client-plugin?

Thanks!

[2019-07-04 14:31] gabemontero commented on #278
On Wed, Jul 3, 2019 at 9:01 PM Joyce808 <notifications@github.com> wrote:

latest version is good

[2019-07-12 10:20] ThomVivet commented on #206
If you pass the openshift global to the called functions, it should work:
[code]

[2019-07-12 12:21] maikebertpsc commented on #206
I tried your suggestion, but the result is still the same.

Maybe because I have to call openshift.withCluster and openshift.withProject within my shared library method?

[2019-07-12 12:50] maikebertpsc commented on #206
Thanks, this approach actually worked.

[2019-07-13 05:35] jaysiee opened #279 "Use existing credentials type instead of OpenShiftTokenCredentials for ClusterConfig"
I've extended the Jenkins installation on Openshift with the Jenkins Configuration-as-Code plugin. We are using Jenkins to access multiple clusters, so I'm creating ClusterConfigurations with Casc (as mentioned in the docs). However, I have not found a way to create credentials of type OpenShiftTokenCredentials with Casc yet. There is a [well documented way](https://github.com/jenkinsci/configurat

[2019-07-14 21:34] saikirandusari commented on #206
@maikebertpsc I did encounter with the same issue in the past and have added below to all my shared libraries

OpenShift.withCluster() { openshift.withProjet(‘project’) {
.....
}}

[2019-07-16 08:20] gabemontero commented on #279
no plans as of yet @jaysiee

we are actually in the process this week among other things of reviewing existing requests for function

we can add this to that list

@akram @waveywaves @siamaksade

[2019-07-16 11:16] Joyce808 opened #280 "Start pods in sequence"
Hello,

My project has multiple pods, A, B, C pods (apps). Each A, B and C has 2 replica count.  We really need to start at least one A pod and one B pod first before any C pod starts.

I have used below code to verify deployment is successful or not recommended by the doc

[code]

My pipeline pseudo code looks like:
[code]

I have run many times of testing, and the order seems correct 2A -> 2B ->

[2019-07-16 20:24] jaysiee commented on #279
@gabemontero Thanks, I'd appreciate that. I'm sure there are plenty of other ways to achieve this but It would be nice to have uniform way to setup Openshift configuration in Jenkins via code.

[2019-07-17 14:06] waveywaves commented on #280
Hello @Joyce808 Thank you for opening this issue.

Can you send the version of the cluster, version of the jenkins image and have you overriden `oc` in your jenkins ?

[2019-07-17 14:08] gabemontero commented on #268
/assign @akram

[2019-07-18 13:21] mbarbero opened #283 "Pipeline CPS method mismatch"
Since upgrade to Jenkins 2.176.1, pipelines using this plugin show warnings:

    expected to call com.openshift.jenkins.plugins.OpenShiftDSL.dieIfWithout but wound up catching com.openshift.jenkins.plugins.OpenShiftDSL.contextContains; see: https://jenkins.io/redirect/pipeline-cps-method-mismatches/

    expected to call com.openshift.jenkins.plugins.OpenShiftDSL.dieIfNotWithin but wound up catch

[2019-07-18 22:15] Joyce808 commented on #280
I am using 3.9 cluster, jenkins 2.130. I did not override oc and everything directly comes from the jenkins client plugin.

I found out a way to resolve this by watching the pod instead of watching the replica controller. This is the code:

`openshift.withCluster(clusterName, tokenId) {
        openshift.withProject(projectName) {
            if (openshift.selector('dc', appName).exists()) {

[2019-07-19 07:09] akram commented on #283
Hi @mbarbero thank you for reporting this. I will have a look at it

/assign @akram

[2019-07-19 10:46] akram commented on #283
Hi @mbarbero

yesterday, we just bumped a new release using  2.176.**2** and we are using the 1.0.38 version of the sync plugin.
I just re-tested yet a simple pipeline similar to yours, and we do not reproduce the issue nor we see a warning. [1]
Can you please update your jenkins-client-plugin to 1.0.38 and make the test? Also, you can update your Jenkins server to   2.176.**2*. A recent security

[2019-07-19 10:48] akram commented on #280
/assign @waveywaves

[2019-07-19 10:49] akram commented on #280
/close

[2019-07-19 10:49] #280 closed

[2019-07-19 10:51] akram commented on #278
@Joyce808 did you by any change manage to perform the update and test it ?

/assign @akram

[2019-07-19 10:52] akram commented on #276
/assign @akram

[2019-07-19 12:19] ThomVivet commented on #283
Same message for me with jenkins 2.164.2 since last plugins update.
With the following changes:
- openshift-login 1.0.15 -> 1.0.19
- openshift-pipeline 1.0.55 -> 1.0.56
- openshift-sync 1.0.27 -> 1.0.38
- workflow-cps 2.70 -> 2.72
- workflow-remote-loader 1.4 -> 1.5

[2019-07-19 13:38] waveywaves commented on #283
@ThomVivet Please upgrade your Openshift-client plugin to the latest release as well. And let me know if the issue persists.

[2019-07-19 14:12] akram commented on #283
Hi @ThomVivet

Can you provide:
- a full reproducer pipeline
- your jenkins logs
- your pipeline output result

Thanks.

[2019-07-19 20:10] mbarbero commented on #283
I've done the upgrade to 2.176.2 (client plugin is still 1.0.31). Same issues.

[2019-07-21 01:39] nc-jape commented on #283
on jenkins 2.164.3,

Changing workflow-cps back to version 2.70, "fixed" the issue for me.

[2019-07-22 08:50] akram commented on #279
Hi @jaysiee

we are currently taking a look at this issue. By following the different links you sent, people from the upstream people tends to say that it is now "Resolved" by using the Kubernetes-credentials plugin.

Did you try this plugin in conjunction with the Jenkins-client plugin? If you have any more up to date information feel free to add on comment on this issue because we still need to

[2019-07-22 09:34] akram commented on #283
Hi guys,

based on the Jenkins Worflow CPS plugin changelog [1], you should be hitting the issue if you are using version 2.71+

You may have to check that you are not pulling version (2.17+) this plugin from another dependency which would explain why you see the warning+.

[1] https://wiki.jenkins.io/display/JENKINS/Pipeline+Groovy+Plugin#PipelineGroovyPlugin-2.72(11Jul2019)

[code]

[2019-07-22 09:49] mbarbero commented on #283
Thanks @akram for finding this out. However I don't think it's reasonable to ask users to not pull newer version of pipeline-groovy, especially when the issue on your plugin is caused by an improvement in the dependency.

Is there any way the openshift client plugin could work better with CPS?

[2019-07-22 10:32] akram commented on #283
@mbarbero , we are still having a look at it , don't worry ;-)
we just needed to figure out why we weren't able to reproduce it yet in our packaging of the OpenShift Jenkins Image.

We will keep the issue open now, while investigating it. Can you just confirm that using 2.70 is working for you?

We will be trying to upgrade to the 2.71 version and see the impacts on the other plugins also.

[2019-07-24 09:15] akram commented on #268
The PR #284 will fix this.

[2019-07-25 01:56] Joyce808 opened #285 "Unable to retrieve object markup with get; action failed"
Hello,

I am using jenkins-client-plugin version 1.0.18, Jenkins version 2.130 and openshift 3.9.

We ran this exception when watching the pod status:

[code]
I believe this the code caused above exception:

[code]
My pod only has one container, but we scale up multiple pods. This exception only happened once after we ran this pipeline more than 10 times before, but it makes me worry, why it only

[2019-07-25 16:23] #217 closed

[2019-07-26 04:48] waveywaves commented on #285
Hello @Joyce808

wrt the pipeline, I am not sure of the containerStatuses syntax below.

[code]

Currently we are on 1.0.31 iteration of the pipeline and would suggest for you to use it.

Based on your scenario it would be better to check if the pod is up, as checking the contianer doesn't make sense as the pod state is dependent on the state of the containers inside of the pod. Like this >

[code

[2019-07-27 10:28] Joyce808 commented on #285
Hello @waveywaves,

Thanks very much for your help.

Yes, it is a bit awkward to ask questions about a very old version. It is not very flexible for us to update the Jenkins plugins here, so we have to live with the old version for now.

I agree it does not make sense to check the container's status inside a pod to see if the pod is running, it is better to check the pod status directly. I have te

[2019-07-28 02:13] Joyce808 commented on #278
Sorry @akram, I missed your message. I could not update plugins easily, and have not tested it yet. I think you can close this issue. I will have to test it using my own local Jenkins later. Thanks!

[2019-07-31 20:13] sbarre-esit opened #286 "Creating objects is not easy"
https://github.com/openshift/jenkins-client-plugin#creating-objects-easier-than-you-were-expecting-hopefully says you can just define a map of an thing you want to create, but I'm getting an error. Anyone else have any luck doing this?

[code]

[2019-08-01 13:44] akram commented on #286
Hi @sbarre-esit
the method create starts with a lower case "c". Could you please try this?

feel free to close the issue if it solves the problem.

[2019-08-01 16:02] sbarre-esit commented on #286
I ended up having to whitelist the method in `scriptApproval.xml` to make Jenkins happy.

[code]

[2019-08-01 16:02] #286 closed

[2019-08-01 16:13] TomSchmitz commented on #286
Ich bin bis 05.08.2019 abwesend.
I am out of the office until 05.08.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Creating objects is not easy (#286)"
gesendet am 01.08.2019 18:02:52.

Diese ist die einzige

[2019-08-01 16:13] TomSchmitz commented on #286
Ich bin bis 05.08.2019 abwesend.
I am out of the office until 05.08.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Creating objects is not easy (#286)"
gesendet am 01.08.2019 18:02:55.

Diese ist die einzige

[2019-08-01 16:27] akram commented on #285
Hi @Joyce808

to get the 1.0.18 code base, just use search for our "mvn release" commit with the proper version.
You can use the following command:
`
 git log --all --grep="1.0.18"
`

Then checkout this specific commit.
Please close this "issue" if you think that your questions are answered.

Greetings
Akram

/cc @waveywaves

[2019-08-01 17:13] TomSchmitz commented on #285
Ich bin bis 05.08.2019 abwesend.
I am out of the office until 05.08.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Unable to retrieve object markup with
get; action failed (#285)" gesendet am 01.08.2019 18:2

[2019-08-04 10:01] #278 closed

[2019-08-04 10:06] #285 closed

[2019-08-04 10:08] TomSchmitz commented on #278
Ich bin bis 05.08.2019 abwesend.
I am out of the office until 05.08.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] openshift build pod keep running even
after the Jenkins pipeline is cancelled from UI (#278)

[2019-08-04 10:08] TomSchmitz commented on #285
Ich bin bis 05.08.2019 abwesend.
I am out of the office until 05.08.2019.

Ich werde Ihre Nachricht nach meiner Rückkehr beantworten.

In dringenden Fällen wenden Sie sich bitte an Frank Becker (AC-6606)

Hinweis: Dies ist eine automatische Antwort auf Ihre Nachricht  "Re:
[openshift/jenkins-client-plugin] Unable to retrieve object markup with
get; action failed (#285)" gesendet am 04.08.2019 12:0

[2019-08-05 07:44] akram commented on #262
@gabemontero or @ThomVivet can you close the issue if the fix has been provided?

[2019-08-07 13:47] philippmoeller commented on #283
Any plan to fix this in the near future?

[2019-08-07 15:06] max-l-weaver commented on #283
Also receiving this error when running a pipeline. Downgrading `workflow-cps` to < v2.1 didn't make a difference so having to use an older version of Jenkins for the time being (2.89.3) which is unfortunate. Hopefully there'll be some movement on this issue soon 🤞

[2019-08-08 08:55] akram commented on #283
Hi all,
thank you for your feedbacks.
we will put additional efforts to release the new version including the fix asap.

[2019-08-08 16:31] akram commented on #283
we will cut the release probably tomorrow.
In the meantime, feel free to report any issue if you run the plugin with a handcrafted version.

[2019-08-14 07:03] philippmoeller commented on #87
This is the second time the plugin broke something in our code with an update and without a changelog every update has become a gamble.

Could you please start writing a changelog?

[2019-08-14 12:40] akram commented on #87
Hi @philippmoeller

as you may noticed, we handed over the plugin recently and I also noticed that this is something that was missing.
We will push PRs probably today with the most historical changelings that we can create for all the jenkins plugins and the jenkins images itself.
as @bparees suggested a year ago, we will also see how we can integrate this into GitHub releases, which would be help

[2019-08-14 21:33] waveywaves opened #291 "Jenkins Build fails with permission error on ServiceAccount not being able to access "serving.knative.dev" APIGroups."
Upon trying to build using jenkinsStrategy on a cluster with knative/serving installed. We get the following error while trying to delete resources defined by the knative/serving API Group.

[code]

To reproduce this.
1> Install knative/serving on your cluster
2> `oc new-app https://github.com/waveywaves/nodejs-ex --context-dir openshift/pipelines`
3> Error occurs on the console.

[2019-08-15 17:36] waveywaves commented on #291
cc @akram @gabemontero

[2019-08-15 20:24] schuch opened #292 "Job name with spaces causes "Unknown command" error"
The `--certificate-authority` command line argument is not quoted when the certificate path contains spaces. Parts of the certificate path are interpreted as oc command.

The job that produced the following output is named `test iam-a-funky-command-from-the-job-name`

The pipeline script is minimal:
[code]

This output demonstrates the problem:
[code]
Plugin version `1.0.32`

Seems related to #257

[2019-08-16 10:58] severi commented on #283
after upgrading to the newest version my pipelines have started failing with the following message
[code]

Seems like fix for the problem described here could be causing this as the error message comes from the dieIfWithin function
https://github.com/openshift/jenkins-client-plugin/blob/0c359c2a0e9de03a4505aa14869f15f1e110c8d0/src/main/resources/com/openshift/jenkins/plugins/OpenShiftDSL.groovy#L2

[2019-08-19 03:37] waveywaves commented on #283
@severi We have added a fix to dieIfWithin function in the latest release. And seems like you have a withCLuster block inside of the withProject block. It should be defined in the fashion below.
[code]

[2019-08-19 05:03] waveywaves commented on #292
/label bug

[2019-08-19 05:31] waveywaves commented on #292
Hello @schuch,
Thank you for opening this issue.

This seems like a simple issue with simple string parsing.
We will look into this and update it here.

[2019-08-19 05:31] waveywaves commented on #292
/assign waveywaves

[2019-08-19 06:55] akram commented on #283
@severi : as @waveywaves said: before version 1.0.40 of the jenkins-client-plugin, it was possible to create "syntactically incorrect" pipelines that were still able to work.

You need to ensure that, in your pipeline definition, every withProject() closure is enclosed in a withCluster() closure. The opposite must not work and will not work anymore. And, a "standalone" withProject closure does not

[2019-08-19 08:08] severi commented on #283
@waveywaves yeah that much I understood from the output as well :) What I wasnt sure is whether this change was made on purpose or were the results considered thoroughly enough.

@akram well that is unfortunate to hear. Our shared library has been working perfectly for the past two years until this change was introduced. Kind of feels like a major change rather than a patch to me. The problem in m

[2019-08-19 09:10] Reamer commented on #283
Hi @akram,
thanks for fixing this issue. I updated successfully the plugin and warnings disappear. I think we can close this issue.

[2019-08-19 12:13] akram commented on #283
Hi @severi ,
we had to upgrade Jenkins Worflow CPS plugin  to a higher version because of a CVE/Security issue. Following this upgrade, we also fixed a long lasting bug that also may introduce instability and prevent "safe" restarts and job continuation of Jenkins Jobs. And this is what 1.0.32 also provides.

I regret that the impacts where important in your case, you can still "force" a downgrade

[2019-08-19 12:14] akram commented on #283
/close

[2019-08-19 12:14] #283 closed

[2019-08-23 09:47] Gladskih opened #293 "Waiting for single build"
Comment in [example](https://github.com/openshift/jenkins-client-plugin#watching-and-waiting-of-course) states:

And I really can't find API for manipulation by single object at once strictly.

Why? I need to start one build only once and wait for it compilation. Why should I assume there are multiple builds?

[2019-08-23 10:25] Gladskih opened #294 "build.untilEach cause pipeline failure"
On Jenkins 2.172
Having script in a stage:
[code]
I get pipeline failure with console output:

Where myNodeServer is Windows Server 2016  with **x86** Jenkins worker

[2019-08-23 11:38] Gladskih opened #295 "Direct oc call ignores openshift.withProject"
Faced the https://github.com/openshift/jenkins-client-plugin/issues/294 and looking for a workaround I was trying to "downgrade" my script mixing plugin API calles with oc calles:
[code]
But here I have another problem. Inner oc call operates on default project, not myProject specified in `openshift.withProjec()`

[2019-08-26 06:03] waveywaves commented on #293
Hello @Gladskih
Thank you for opening up this issue.

As it is possible that multiple resources are created at a time, and it is usually never the case that only a single ones would be createed and consumed. You can always check the number of builds to be equal to one, and if it is equal to one, you can query it to your need accordingly. Can you elaborate on what you mean by `manipulate ` here ? A

[2019-08-26 08:15] Gladskih commented on #293
By manipulate I mean waiting.
If I start build I expect only one would be started.
The same is true for a deployment.
It's really awkward, that API concerns so uncommon scenario of multiple objects creation at once as main.

[2019-08-26 12:30] akram commented on #293
Hi @Gladskih ,

I think that what you want to achieve is implemented through RunPolicy [1] on BuildConfig.
See link below.

You are maybe using builds with Parallel run policy, and as you noticed, and as you can read, "This can produce unpredictable results".

[1] https://docs.openshift.com/container-platform/3.11/dev_guide/builds/build_run_policy.html
[2] https://docs.openshift.com/container-plat

[2019-08-26 12:36] akram commented on #294
Hi @Gladskih ,

can you please describe your run environment, and especially how you build your agent images ?
You are pointing this error, if I understand correctly?
[code]

Did you identify which process the message is talking about?
Is it a standalone Jenkins? running on Windows? or only the agent node is running on windows?

Could you please be more accurate with the issues descriptions? it is

[2019-08-27 16:12] samueltauil opened #296 "Add a DeploymentConfig scale example"
In the readme there is no example on how to use the Selector.scale(), what are the parameters? `replicas` ?

[2019-08-28 04:14] akram commented on #296
Hi @samueltauil ,

Thank you for submitting this issue and for using the plugin.
The current implementation of the Jenkins client plugin uses a kind of passthrough arguments to many underlying `oc` command to simplify implementation, including the scale function/method which worked quite well. [1]

For this reason, the regular way to pass parameters to invoke "groovy implemented" commands uses the

[2019-08-28 04:15] akram commented on #296
/assign @akram

[2019-08-29 15:21] Gladskih commented on #294
@akram To be more accurate with issue description I need to be more familiar with the tool I have the issue with. So in case like this I can only assis you in "pull strategy" of knowlege management.

I have extremely heterogeneous environment: master node (amd64) is on Linux and worker (x86) node is on Windows Server 2016.

I did not identify the process meant in log but I can try to do it latter

[2019-08-29 16:47] akram commented on #294
Yes please, I think this should help understanding the issue.

[2019-08-29 18:12] Gladskih opened #297 "Subsequent openshift.withCluster does not switch clusters"
Subsequent calls like:
[code]
do not switch cluster and `oc project` call in closure for clusterB is still executed with clusterA.

[2019-09-03 09:14] #262 closed

[2019-09-03 09:17] ThomVivet commented on #262
Doc updated: https://github.com/openshift/jenkins-client-plugin/blob/master/README.md#aside-from-some-lessons-learned-by-our-users

[2019-09-12 05:54] waveywaves commented on #297
Thank you for opening this issue with us. Sorry for the late response.
WIll check this out and get back to you ASAP.

[2019-09-21 09:43] mliker opened #298 "Why does the watch never end"
Hi all,

in my pipeline I want to find a downstream build triggered by an upstream build using an image digest. I came up with the following however the watch never ends. I appreciate any help with this.
[code]
[code]
[code]

[2019-09-21 16:45] akram commented on #298
Hi @mliker

Can you try to rely on this example:
https://github.com/openshift/jenkins-client-plugin#watching-and-waiting-of-course

I can't see any call to watch() closure in your pipeline code.

[2019-09-22 09:26] mliker commented on #298
Hi @akram I re-read your link again and it seems I missed this piece

[2019-09-22 09:26] #298 closed

[2019-09-23 07:12] akram commented on #298
no problem @mliker , glad that we helped.

[2019-09-24 16:42] daniyalj opened #299 "OpenShift Client Plugin not picking up Jenkins credentials"
I am trying to add a new OpenShift cluster in the Jenkins config but the credentials drop down list is not showing any credentials. I have tried using the "Add" button next to credentials but after creating the new credential, it doesn't show up in the Credentials drop down.

Am I missing something here?

The version is from=registry.redhat.io/openshift3/jenkins-2-rhel7:v3.11

Here's the screensho

[2019-09-25 18:30] daniyalj commented on #299
Figured it out! the Jenkins credential used here needs to be of type OpenShift Client Plugin

[2019-09-25 18:30] #299 closed

[2019-09-25 20:17] markperdue opened #300 "Seperating cluster context when deploying to multiple deployment clusters"
Hello,

I am running into an issue using the plugin that is not encountered when running `oc` cli directly. When running on one of the openshift provided Jenkins agents (which itself is running within openshift) the openshift.withCluster() syntax does not seem to allow other tools that leverage the default KUBECONFIG context to work properly.

**Use case:**
Deploy a helm chart to each of the deplo

[2019-09-26 05:02] akram commented on #299
Thank you for letting the solution @daniyalj

[2019-09-26 14:01] DRAKUN opened #301 "patch value"
hello i can't patch value
[code]

my code is
[code]

In commande line il try todo this

[code]
Natively defaultCertificate doesn't existe

[code]

Someone can help me

[2019-09-26 21:35] akram commented on #296
/label documentation

[2019-10-01 10:42] saikirandusari opened #303 "openshift.rsync operation failing with "java.io.IOException: invalid null character in command""
Hello

I have a pipeline where I am using openshift.rsync() method to copy a directory from one pod to another within the same project/namespace.

`openshift.rsync("${jobPod}:/jmeter/results", "${WORKSPACE}")`

`jobPod=jmeter-master-test-suite-kkkjf`

**OpenShift Server and Client Version**
[code]

Here are the logs

[code]

But, if I `rsh` into the pod (Jenkins pod) and run the same command manua

[2019-10-01 12:48] akram commented on #303
Hi @saikirandusari

I suppose that you are doing this in a pipeline. Can you tell us if you are using a specific withCredentials() to connect to the cluster?

To help you debug, can you tell me what it is the return code of the oc rsync command in case you are running manually into the pod?

[code]

[2019-10-01 13:37] saikirandusari commented on #303
Hi @akram

Thanks for the quick response. Much appreciated.

Yes, I am performing rsync in the pipeline and I don't use specific withCredentials() (the jenkins pod runs with `jenkins` service account, I suppose it uses jenkins service account credentials by default)

The return code of the `oc rsync` command was `0`

Thanks
Sai

[2019-10-17 14:01] openshift-merge-robot opened #305 "Future Release Branches Frozen For Merging | branch:release-4.5 branch:release-4.4"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.5`
 - `release-4.4`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J6

[2019-10-20 21:21] dry4ng opened #306 "raw command does not accept namespace as a argument"
According to https://docs.openshift.com/container-platform/3.9/admin_guide/pruning_resources.html#pruning-deployments

When I'm running this command in command line I get multiple results for deployments to be pruned:

[code]

When I do the same with jenkins client plugin I get 0 results. Specifying namespace doesn't  help.

[code]

It does work for pruning builds, however. But not deployments.

[2019-10-20 21:37] dry4ng commented on #306
Figured out the workaround. Instead of specifying namespace in raw command as `-n`, I'm looping over the result of openshift project selector:
[code]

[2019-10-21 08:11] waveywaves commented on #306
/assign akram

[2019-10-21 08:21] akram commented on #301
Hi @DRAKUN

I think that this statement is incorrect:
[code]
Because the map `objs.spec.defaultCertificate` was not initialised in Groovy before (the openshift object probably contains null for this).

So you you instantiate it with something like this
[code]

I will close the issue in favour of this syntax error fix, if you feel that it is not the correct fix, please feel free to re-open it.

[2019-10-21 08:21] akram commented on #301
/close

[2019-10-21 08:21] #301 closed

[2019-10-21 08:26] akram commented on #300
@sunnyconcise could you please take a look at this one?

[2019-10-21 08:56] akram commented on #297
I am closing it in favour of #300 because it is a replicate.
/assign @sunnyconcise
will also take a look at it

/close

[2019-10-21 08:56] #297 closed

[2019-10-21 09:47] akram commented on #293
Based on the provided explanations this should be a solution

/close

[2019-10-21 09:47] #293 closed

[2019-10-21 10:00] akram commented on #294
@Gladskih we didn't get any feedback from you regarding this; based on the provided logs it looks like more to be related to org.jvnet.winp.Winp library which crashes because it cannot read the state of a 32 bit while the library itself is running in a 64bits JVM. This apparently the case for you.

You have the option to run Jenkins on 32 bits using 4.2.x or lower images using a 32bit hots. The 32

[2019-10-21 10:00] #294 closed

[2019-10-21 10:05] waveywaves commented on #291
/assign waveywaves

[2019-10-21 10:09] akram commented on #279
We recently re-update the kubernetes plugin which also uses kubernetes-credentials-plugin.
I will close it then.

/close

[2019-10-21 10:09] #279 closed

[2019-10-21 10:19] akram commented on #276
This is quite complex to implement, also because the `oc` does not allow to pass multiple to pass multiple namespaces.
The "workaround" for this is to add a loop in with you changed the withProject() closure and then have a call to `.selector()`.

We will close it in favour of the provided workaround.

/close

[2019-10-21 10:19] #276 closed

[2019-10-21 10:21] akram commented on #270
Good to see that.
So we close it in favour of the fix being "check the escaping" .

/close

[2019-10-21 10:21] #270 closed

[2019-10-21 10:27] akram commented on #168
/close

[2019-10-21 10:27] #168 closed

[2019-10-21 10:29] akram commented on #210
We are closing this in favour of the fact that we have a CHANGELOG.md file now.

/close

[2019-10-21 10:29] #210 closed

[2019-10-21 12:56] Gladskih commented on #294
@akram Sorry for no feedback, we were urgently migrating to GitLab.

[2019-10-21 16:59] sunnyconcise commented on #300
Tried to recreate the error using a node-js application - [https://github.com/sunnyconcise/nodejs-ex](https://github.com/sunnyconcise/nodejs-ex)

Attaching the build ouput

![Screenshot from 2019-10-21 22-00-13](https://user-images.githubusercontent.com/50203761/67226127-0d59df00-f452-11e9-8bd3-e8650623c73c.png)

The build runs on the same cluster , the jenkinsfile code below doesnt seem to work

[2019-10-22 07:49] sunnyconcise commented on #300
when I rsh into the pod I do not get any extra contexts. There are no multiple contexts set in the jenkins pod, that means that default is being used both times.

[2019-10-23 16:10] akram commented on #306
The existing fix needs to define the namespace as a verb argument:

[code]

[2019-10-23 17:23] akram commented on #306
/retitle raw command does not accept namespace as a argument

[2019-10-23 18:33] #306 closed

[2019-10-23 20:25] akram commented on #300
/assign @akram

[2019-10-29 14:43] akram commented on #292
/assign akram

needs to change in "	public List<String> buildCommand(boolean redacted)  "  in ClientCommandBuilder

[2019-10-29 18:19] akram commented on #292
OK,

reproduced using the following pre-req:
- do no use the sync plugin
- create manually a "folder" in Jenkins
- create an openshift cluster name 'test' with a certificate
- create a pipeline with the following code:
[code]

[2019-10-30 09:34] matthiassommer opened #312 "Example in readme for openshift.create throwing exception"
Instead of

[code]

it should be

[code]

[2019-11-03 22:40] waveywaves commented on #312
@matthiassommer Thanks for the check. I see that this example is present in https://github.com/openshift/jenkins-client-plugin#cannot-live-without-openshift-templates-no-problem .   PRs are much welcome :)

[2019-11-05 07:26] akram commented on #295
/assign @waveywaves

[2019-11-05 07:29] akram commented on #303
@saikirandusari sorry for the delay.
It looks like you are using a 3.11 `oc` binary in your image? can you also give a try by targeting the original 3.6 `oc` binary?

[2019-11-15 06:10] akram commented on #312
/close

[2019-11-15 06:10] #312 closed

[2019-11-24 23:01] saikirandusari commented on #303
@akram  sure, let me try with 3.6 `oc` binary, will come back with the results

[2019-11-25 03:04] openshift-merge-robot opened #315 "Future Release Branches Frozen For Merging | branch:release-4.20 branch:release-4.21"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.20`
 - `release-4.21`

For more information, see the [branching documentation](https://docs.ci.openshift.org/docs/architecture/branching/).

[2019-11-25 19:36] romancin commented on #291
Same issue here. Did you find a way to workaround this? Thank you!

[2019-11-26 12:24] mjovanovic0 opened #316 "selector with negated labels"
Hi all,

I would like to execute `openshift.selector("ns", [customLabel: 'value'])` but with negated label selector.

So I would like to execute the command:
[code]

I trace the source code and found code that generates label selector:
https://github.com/openshift/jenkins-client-plugin/blob/master/src/main/resources/com/openshift/jenkins/plugins/OpenShiftDSL.groovy#L1248

Here is strict definition

[2019-11-26 13:00] akram commented on #316
Hi @mjovanovic0

sure, the project is open to constructive discussions and contributions.

[2019-11-28 06:12] waveywaves commented on #291
@romancin Can you try changing the jenkins_edit role to a cluster role. That might do it. We still have to test it out.

[2019-12-09 21:50] itewk commented on #300
Any movement on this?

[2019-12-10 00:38] itewk commented on #300
Determined the following works for anyone looking for workaround:

[code]

[2019-12-10 21:02] #305 closed

[2019-12-12 16:28] akram commented on #300
Hi @itewk

thank you for reporting the workaround.
I had a look at it a while ago, I will return to it now that you gave this additional workaround, maybe I can find the solution

[2020-01-02 10:20] cniweb commented on #292
When will this bug be fixed?
We have the same problem!

[2020-01-21 18:28] Aaqib041 opened #321 "openshiftVerifyDeployment / openshiftDeploy is failing while running in Jenkins"
Hi Team,

All of a sudden , I started facing issue with openshiftDeploy / openshiftVerifyDeployment  /  openshiftVerifyBuild / openshiftDeploy functions used in Jenkins pipeline. Whereas same is working with oc commands like oc start-build / oc deploy --latest dc/${appName} .....

Can you please look into issue and guide me to solution ? Share more information below .

I am using openshift jenkins

[2020-01-22 10:11] mliker commented on #199
Well the plugin does not seem to know of the resource statefulset

openshift.selector("statefulset", "mongodb").related('pods').untilEach(1) results in
`ERROR: Unknown how to find resources related to kind: statefulset`

It seems these are all the resources this plugin can work with:

https://github.com/openshift/jenkins-client-plugin/blob/437261e8808177c0cc8028d158d72cde54f4d182/src/main/resource

[2020-01-22 10:37] akram commented on #321
Hi @Aaqib041 ,

can you tell me which jenkins image are you using?
Also, it is more appropriate to open the issue in openshift/jenkins repository, as the syntax that you are mentionning is not related to jenkins-client-plugin.

If you need to migrate to jenkins-client-plugin, please consider reading the doc below.

https://github.com/openshift/jenkins-client-plugin/blob/8715bb49d1336cba5659c850d05

[2020-01-22 10:50] Aaqib041 commented on #321
Hi @akram ,

Thanks for the response.

I have tried testing below mentioned Jenkins Images :
 image: 'registry.redhat.io/openshift4/ose-jenkins:v4.1.14'
 image: 'registry.access.redhat.com/openshift3/jenkins-2-rhel7:v3.9'

Also , I have tried with below snippet which is also failing. Please suggest.

****stage("Deploy") {
    def dc = openshift.selector('dc', "${APP_NAME}")
    dc.rollout().latest

[2020-01-22 12:03] akram commented on #321
@Aaqib041 : can you share logs for both of the situations ?

[2020-01-22 14:38] Aaqib041 commented on #321
@akram Looks like ticket is open on Bugzilla for same. I have shared required logs over there. Please check.

https://bugzilla.redhat.com/show_bug.cgi?id=1793878

[2020-01-23 15:07] akram commented on #321
Hi @Aaqib041
I have updated some informations there.

[2020-01-23 16:02] akram commented on #321
Hi @Aaqib041
there is patch-002 update

[2020-01-24 12:55] Aaqib041 commented on #321
Hi @Akram,

I have shared the latest logs. Please check

Regards,
Akeeb K Y

On Thu, Jan 23, 2020 at 8:02 PM Akram Ben Aissi <notifications@github.com>
wrote:

[2020-02-13 13:38] waveywaves opened #322 "Bug 1800771: Pipeline doesn't reflect updated code from Jenkinsfile"
## Description of problem:
New code commited into gitlab isn't being picked up by jenkins pod

Version-Release number of selected component (if applicable): OpenShift Dedicated 3.11
Jenkins image. Latest update for OSD 3

## How reproducible:

100 %

## Steps to Reproduce:
1. Deploy a new-app with a Jenkinsfile on OCP
`oc new-app  https://gitlab.com/openshift-samples/node-example.git --strategy=pi

[2020-02-14 11:49] waveywaves commented on #322
/assign akram

[2020-02-14 16:43] akram commented on #322
@waveywaves this has to be opened wrt to jenkins or jenkins-sync-plugin, but not in client plugin.
can you re-create there ?

[2020-02-15 19:51] waveywaves commented on #322
Moved to https://github.com/openshift/jenkins-sync-plugin/issues/373

[2020-02-15 19:51] #322 closed

[2020-02-26 00:20] dzabel opened #323 "openshift.tag did not honor openshift.withCluster() settings"
I try to add a new tag from development cluster  where jenkins is running to an imagestream in our prod cluster.

Code from Jenkinsfile:
[code]

Error in Pipeline: - added openshift.verbose() before
[code]

Because of this:
[code]

I assume, that openshift.tag is not aware of the context switch to the prod cluster, as `--server=https://172.27.0.1:443` is the development cluster and also the certif

[2020-02-26 00:33] dzabel commented on #323
Was my fault.

[2020-02-26 00:33] #323 closed

[2020-03-13 08:03] igorfraa commented on #84
[@tomcooperca ](https://github.com/openshift/jenkins-client-plugin/issues/84#issuecomment-358351758)

For the second example, .objects().untilEach() didn't worked for me. It said "`No signature of method: ArrayList.untilEach() is applicable for argument types org.jenkinsci.<...>.CpsClosure2`".

I have modified it as follows:
[code]

[2020-04-23 13:48] Aaqib041 opened #325 "openshift.selector is not working for pod labels"
Hi Team,

I am trying to get the logs of pod created for every deployment in jenkins console. I tried with below code snippet , but this worked partially for few runs and eventually started failing with.

When I am using only deploymentConfig in labels , it works but unfortunately picks up already running pod of previous deployment and not the current deployment . So , get details of current deplo

[2020-04-29 19:36] rinormaloku opened #326 "Bug 1837362: Sensitive data exposed on pipeline failure"
When creating a secret using this plugin, `oc apply` failures will show the output in the Jenkins Job output. This can lead to leakage of sensitive data. E.g.

Using this task:
OpenShift - Create Resource(s)
[code]

Will fail with the following output:
[code]

This being the important line: *{"secret":"xxxxK","secretKey":"YWRtaW4K"},"kind":"Secret","metadata|...*

This can be fixed by one of the t

[2020-05-19 10:55] akram commented on #326
/retitle Bug 1837362: Sensitive data exposed on pipeline failure

[2020-05-19 10:55] akram commented on #326
/bugzilla refresh

[2020-05-25 10:38] gsouzab opened #328 "User impersonation"
As stated in the [Openshift Docs](https://docs.openshift.com/container-platform/3.11/architecture/additional_concepts/authentication.html#authentication-impersonation), it's possible to impersonate users using the `oc` cli flag `--as=<user>`. Does the plugin has support for this flag?

I could of course use `openshift.raw`, but as I wanted to leverage some of the build in functionalities. I manage

[2020-05-25 13:06] akram commented on #328
Hi @gsouzab ,

thanks for using the plugin. We do not support impersonnating using a specific parameter. So, what you describe is indeed to the different ways to achieve it

[2020-05-28 00:49] bharathvenkatrajan opened #329 "Want to check the last build status"
I want to check the latest build status using the openshift jenkins client plugin. Following the official documentation.

    stage('Start build') {
      steps {
        script {
          openshift.withCluster() {
            openshift.withProject('my-project') {
              openshift.selector("bc", "app_name").startBuild()
            }
          }
        }
        script {
          openshi

[2020-06-01 11:34] HakuGao opened #331 "openshift.selector is not working in OpenShift v4"
Hi Team,

Recently, I have installed a newer version of OpenShift as a production environment.
But I found the pipeline script doesn't work in the new version.

Here is a part of my pipeline scripts to verfy whether the deployment config exist:

[code]

When I run the script in new OpenShift, I got this error:

But when I switch the cluster to old OpenShift version, there has no error:

[code]
I g

[2020-06-11 06:50] HakuGao commented on #331
Issue resolved, caused by:
Jenkins OpenShift Cluster configure an expired credential token

[2020-06-11 06:50] #331 closed

[2020-06-18 14:14] akram commented on #303
as this issue is getting stale for more than 90 days, we are closing it
/close

[2020-06-18 14:14] #303 closed

[2020-06-18 14:31] akram commented on #295
This issue has been stale for more than 90 days, so closing it
/close

[2020-06-18 14:31] #295 closed

[2020-07-02 20:32] cniweb commented on #292
@waveywaves When will it continue here?

[2020-07-10 22:30] kaerimichi commented on #329
I'm not sure if this is the best way to achieve what you want, but I had a similar issue and checked the build status in the same  `script` block:
[code]
In my case, I'm streaming the build output and I set the timeout to one minute. The build is being verified right after the log stream finishes.

Hope it helps.

[2020-07-11 00:27] bharathvenkatrajan commented on #329
Hey @kaerimichi, thanks for your answer. I found a different solution to this.

Just add the `"--wait"` argument in the previous `startBuild` step.

    openshift.selector("bc", "app_name").startBuild("--wait")

This will return a non-zero code if the build fails and the pipeline `stage` will also fail.

[2020-07-11 00:28] #329 closed

[2020-07-13 22:39] rohiddev opened #340 "openshift.startBuild"
stages {
                  stage('Build Image') {
                    steps {
                      script {
                        openshift.withCluster() {
                          openshift.withProject("${PROJECT}") {
                            openshift.startBuild("${APP_NAME}").logs("-f")
                          }
                        }
                      }
                    }

[2020-07-13 23:04] enekogb opened #341 "Provide a way to get credentials as a String so we can use them with skopeo, podman, etc. without duplicating"
We have configured several credentials in Jenkin, using the "OpenShift Token for OpenShift Client Plugin" type so we can use them

[code]

Now, we are using OCP 4.4 and we have several pipelines where we have to use the same credentials, but i haven't found a nice way to retrieve those as a String, so I can use them in a sh step and call podman / skopeo.

I'd like to use something like this, but d

[2020-07-14 03:28] brunourb opened #342 "openshift.newApp not create the deploymentConfig in OpenShift"
Hi,

The command **openshift.newApp** in Jenkins pipeline not create deploymentconfig (DC).
I have 2 jenkins (test and staging) with the same image in quay.io and same plugin version.

Quay.io repo: [https://quay.io/repository/openshift/origin-jenkins/](url), tag is 4.6
Jenkins version is: **2.222.1-1.1**

I tested the OpenShift Jenkins Pipeline version 1.0.32 at 1.0.34.
[https://updates.jenkins.i

[2020-07-24 06:56] gpxricky opened #343 "Selector.logs("--follow") seems to timeout after 1 hour"
Hi,
I'm currently using the following code to start and log a build via Jenkins:

[code]

The build is about creating a new Docker image. However, the `logs` command returns after exactly 1 hour althoug the build is still running. I do not find any information about that in the documentation, so I do not know whether this "feature" is an official "feature" of the OpenShift Client Tools or a "featu

[2020-07-26 17:24] danielalejandrohc opened #344 "Promote images for containers and initContainers"
I would like to propose a functionality to promote images to a deploymentconfig, deployment, and statefulset.

For example:

[code]
This will validate prior applying the changes If each of the containers name exists If that is the case, apply the changes, otherwise throw an error.

I could implement these changes, I want to be sure this can be included in the plugin so I can work on it,

[2020-07-29 04:29] danielalejandrohc commented on #296
I agree the current scale method is not intuitive, Could be just like this:

openshift.selector("dc", "tasks").scale(3);  // (removing the "replicas")?

[2020-08-21 16:24] jland-redhat opened #347 "Issue with startBuild().logs when starting an NPM project"
Hey Guys,

In your read me you have an example:
[code]

Just wanted to let you know that when you do that with an NPM project the selector that is returned back ends up looking like this
`selector([name=null],[labels=null],[namelist=[Uploading directory "build" as binary input for the build ..., ., Uploading finished, build/manager-360-front-3]],[projectlist=null])`

Which causes issues when you t

[2020-08-22 15:53] ankidaemon opened #348 "No signature of method: com.openshift.jenkins.plugins.OpenShiftDSL.withCluter() is applicable for argument types: (org.jenkinsci.plugins.workflow.cps.CpsClosure2) values: [org.jenkinsci.plugins.workflow.cps.CpsClosure2@77123898"
Trying to wait in pipeline for all pods to be ready. using below code throws the error -

**Error**
```groovy.lang.MissingMethodException: No signature of method: com.openshift.jenkins.plugins.OpenShiftDSL.withCluter() is applicable for argument types: (org.jenkinsci.plugins.workflow.cps.CpsClosure2) values: [org.jenkinsci.plugins.workflow.cps.CpsClosure2@77123898]```

Possible solutions: withClus

[2020-08-23 04:33] #348 closed, assigned to nobody

[2020-09-17 10:40] aditya-malviya opened #349 "How do I enter the password for my service account?"

[2020-09-17 11:45] aditya-malviya commented on #349
I guess you missed in your documentation to tell us more about entering password and config

[2020-09-17 11:46] akram commented on #349
Hi @aditya-malviya , can you explain what you want to do?

[2020-09-17 11:48] akram commented on #347
Thanks @jland-redhat
you are right, there is a `.related('builds')` missing
I will update the README.md

[2020-09-17 11:51] aditya-malviya commented on #349
Hi,

I'm trying to add my openshift service account cred in Opneshift client
plugins in
Jenkins -> Manage -> config -> Cluster Configurations
but after adding the cred I don't see my user and pass in the drop down in
cred section, but If I add token it works which I dont want to try.

[image: Capture.PNG]

On Thu, Sep 17, 2020 at 5:16 PM Akram Ben Aissi <notifications@github.com>
wrote:

[2020-09-17 11:51] aditya-malviya commented on #349
I'm trying to add my openshift service account cred in Opneshift client plugins inJenkins -> Manage -> config -> Cluster Configurationsbut after adding the cred I don't see my user and pass in the drop down in cred section, but If I add token it works which I dont want to try.

[2020-09-17 12:30] #349 closed

[2020-09-17 12:30] aditya-malviya commented on #349
I figured it an alternative way to do so.

[2020-09-17 14:15] aditya-malviya opened #350 "How do I enter Service account credentials while Configuring an OpenShift Cluster"
When I add Opensfhit username and password it never gets reflected in drop down, but when I add token it works.

[2020-09-18 04:06] aditya-malviya commented on #350
I'm following this https://github.com/openshift/jenkins-client-plugin#installing-and-developing and wish to implement using Jenkins. The problem I'm getting is I'm not able to add the password in Jenkins -> config. It only accepts token, is there a way I can pass passwords directly in my jenkinsfile or add in cluster config

[2020-10-13 13:54] khilmanoj opened #351 "v1.0.34 openshift.newBuild Error"
nb = openshift.newBuild( "http://172.16.30.108:9070/ocp-dev/soa-app.git", "--name=soa-app", "-l=app=soa-app", "--source-secret=gitlab-secret-mk")

Caught: hudson.AbortException: new-build returned an error;
{err=error: unable to load template file "http://172.16.30.108:9070/ocp-dev/soa-app.git": error parsing http://172.16.30.108:9070/ocp-dev/soa-app.git: error converting YAML to JSON: yaml: line

[2020-10-13 14:15] khilmanoj commented on #351
Same issue if I try openshift.newApp also

[2020-10-19 19:15] khilmanoj commented on #351
I made some progress, looks like if the git url is public then it works fine.

The below command works fine from the OC nodes but not from Jenkins Pipeline
oc new-build http://172.16.30.108:9070/ocp-dev/soa-app.git --name soa-app -l app=soa-app --source-secret gitlab-secret-mk

[2020-10-20 07:47] TomSchmitz opened #352 "Fully support of Openshift Container Platform 4.x?"
Hello,

which release of the new version 4 of the Openshift Container Platform will be supported by this openshift jenkins-client-plugin?

Best regards
Tom

[2020-10-24 16:05] rajith77 opened #353 "Support for Deployment (in addition to DeploymentConfig)"
I can see you could do rollout with deployment config.
What's the suggested approach for working with Deployments with the plugin?

Should we select it as an object and then modify the image so it rolls out a deployment?

[2020-10-28 08:53] enekogb commented on #341
/remove-lifecycle stale

[2020-10-31 19:33] #223 closed

[2020-11-13 08:19] #268 closed

[2020-11-22 14:56] #316 closed

[2020-11-22 14:56] #291 closed

[2020-11-23 21:01] #300 closed

[2020-11-25 21:09] #321 closed

[2020-12-07 15:56] #325 closed

[2020-12-12 04:11] #326 closed

[2020-12-13 16:18] #328 closed

[2020-12-14 01:43] calebjse opened #354 "Question: What extra steps should i follow if my OCP4 cluster is using a proxy ?"
Hello, i tried to deploy a test app with created = openshift.newApp( 'https://github.com/openshift/ruby-hello-world' )
My OCP4 cluster is using a proxy, i saw the log after try to deploy the app and got this:
Hello from project jenkins-testc1 in cluster https://api.ocpprod.gp.inet:6443
[Pipeline] _OcAction
[Pipeline] }
[Pipeline] // script
[Pipeline] }
[Pipeline] // withEnv
[Pipeline] }
[Pipeline]

[2020-12-23 22:53] #292 closed

[2020-12-26 11:03] #340 closed

[2020-12-26 11:03] #342 closed

[2020-12-29 17:16] #343 closed

[2020-12-30 17:20] #296 closed

[2020-12-30 23:21] #344 closed

[2021-02-09 11:05] dzabel commented on #352
/remove-lifecycle stale

What did not work for you on openshift 4.x?

[2021-02-09 11:15] dzabel commented on #341
Hi,

you have to use usernamePassword inside of withCredentials like this:

[code]
Did work for us in OCP 3.x and OCP 4.x.

[2021-02-09 11:16] dzabel commented on #353
Same question here.

/remove-lifecycle stale

[2021-02-09 11:23] dzabel commented on #350
Create a secret holding your credentials and afterwards label this secret using
`credential.sync.jenkins.openshift.io=true`

Example using Service Account Token from jenkins:

[code]
Jenkins will sync the secret an you can use it afterwards. This feature is provided by jenkins-sync-plugin.
https://github.com/openshift/jenkins-sync-plugin

[2021-02-09 11:23] dzabel commented on #350
/lifecycle frozen

[2021-02-09 11:24] dzabel commented on #350
/remove-lifecycle frozen

[2021-02-09 11:25] dzabel commented on #341
/remove-lifecycle stale

[2021-02-09 13:13] dzabel opened #356 "exportable did not work on newer openshift clusters"
kubectl export and oc export are removed in newer cli versions.

using exportable:true lead to errors because of this.

[code]
Client Plugin still uses "export" function:
https://github.com/openshift/jenkins-client-plugin/blob/master/src/main/resources/com/openshift/jenkins/plugins/OpenShiftDSL.groovy#L1426

changing this line to something like this:
[code]
will work, but also get --export is mark

[2021-02-14 23:31] #347 closed

[2021-03-19 11:06] #351 closed

[2021-04-16 12:22] MarkusRohlof opened #357 "Stream stdout to console for passthrough operations"
Passthrough operations like `exec` may run for a long time and produce output when given the `-t` parameter.

In the current implementation this output is held back by the plugin and only written to the console when the command finishes. It would be more useful if they streamed the output to the console directly, like some of the user operations do.

[2021-04-16 12:38] MarkusRohlof commented on #357
If have seen, that the userArgs-Array will be search for "-f" or "--follow" which from what I understand would lead to the output being streamed to the console directly:

https://github.com/openshift/jenkins-client-plugin/blob/a86b688a2afa21b138e5caa9ad9437da80a5f5ee/src/main/resources/com/openshift/jenkins/plugins/OpenShiftDSL.groovy#L445-L451

So I have tried the following:

[code]

But: `-f` is

[2021-05-04 02:14] RoybertParada commented on #127
Hello, is this issue fixed? or do you something to avoid that unhelpful message in blue ocean?

[2021-05-10 13:37] flozzone opened #358 "Incompatible with new-style clouds configuration."
jenkins-client-plugin still uses the `ClusterConfig` configurations introduced by OpenShift, before Jenkins introduced the Clouds configuration page. The result is, that a user cannot use the configured OpenShift cluster configuration created with the Clouds configuration page within `openshift.withCluster` calls.

## Environment

* Jenkins: 2.277.4
* OpenShift Client Jenkins Plugin: 1.0.34
* Open

[2021-05-13 13:06] #354 closed

[2021-05-20 18:08] thikade commented on #353
I'm also quite interested in an answer.
1. modifying  *spec.template* ,
2. unpausing,
3. waiting for rollout success,
4. pausing again (to prevent uncontrolled rollouts)

comes to mind, but this is quite cumbersome ...

/remove-lifecycle stale

[2021-05-24 16:25] jmarti49 opened #359 "Error after Warning"
executing the following pipeline step in a container.
processed = openshift.process("-f", "${template}", "-p","APP_NAME=${APLICACION}",....

I got the following in the log

[Pipeline] _OcAction
could not find oc binary on the target computer of OS type UNIX
but your launcher is of a type that might have hindered out scan
Verbose sub-step output:
Command> oc --server=***** --insecure-skip-tls-verif

[2021-06-02 15:06] jmarti49 commented on #359
in the OcAction.java, file in the method OcActionResult it should be necesary to modify the line 187
 if (line != null && line.contains(".go:")) {

to send also the warnings to the stderr output, the lines that starts with warning:, to avoid the error

if (line != null && ( line.contains(".go:") || line.startsWith("warning:")) {

[2021-07-09 19:51] #350 closed

[2021-07-09 19:51] #352 closed

[2021-07-09 19:51] #341 closed

[2021-07-09 19:51] #356 closed

[2021-08-02 11:02] maxt opened #366 "Can't get api token from com.openshift.jenkins.plugnis.OpenShiftTokenCredentials in pipeline"
Hello.
I'm faced with a scenario, where I have jenkins with credentials for openshift of type OpenShiftTokenCredentials on the one hand and ansible on the other.
I  use ansible for deployemnt, so I just want to find a way to pass api token from credential to the playbook.

The problem is that I can't handle OpenShiftCredentials as a reguler built-in jenkins credentials,
I can't map api token from

[2021-08-23 17:20] flozzone commented on #358
is there no one with the same problem?

[2021-09-08 07:50] bo0ts commented on #263
@gabemontero I recently ran into this issue again on OKD 4.7.

[code]

results in:

[code]

I've confirmed that the service account has all permissions on the project resource.

[code]

I've also confirmed that the pipeline uses the correct serviceaccount.

[code]

[2021-09-08 18:00] gabemontero commented on #263
Just tried it and it works for me @bo0ts

A couple of notes:
- ignoring of not found errors is a function of the underlying `oc` implementation that is made available to the plugin through jenkins global tool configuration
- in particular, we look for support of the `--ingore-not-found` flag ... see  https://github.com/openshift/jenkins-client-plugin/blob/master/src/main/resources/com/openshift/je

[2021-09-15 20:39] #357 closed

[2021-09-18 20:52] danielalejandrohc commented on #366
OpenShiftTokenCredentials  was ment to use for the Openshift plugin, If you need to use regular the token out of it why you don't use it as Secret Text?

[2021-09-20 15:12] niconhum opened #367 "List of DSL methods required"
Good Day

Our current pipeline is using "OpenShift Pipeline Jenkins" plugin DSL [methods:](https://www.jenkins.io/doc/pipeline/steps/openshift-pipeline/)

After upgrading to Openshift4  we noticed Jenkins is now bundled with "OpenShift Client Jenkins Plugin". With the result that pipelines are now failing due methods not supported by the plugin anymore.

Can someone please guide me where to find t

[2021-09-20 15:12] maxt commented on #366
Understand it. The point is that our huge pipeline partially uses jenkins-client-plugin for openshift deployment and partially - it uses ansible playbooks for the same task (k8s plugin). It would be really great to have the same credential for both approaches. Historically, it was custom OpenShiftTokenCredentials.

[2021-09-20 15:36] thikade commented on #367
Hi Nic,
have a look at https://github.com/jenkinsci/openshift-client-plugin#examples. There you will find a lots of examples for typical use-cases.
Regards,
Thomas

[2021-09-23 08:27] akram commented on #367
thanks @thikade for replying. Indeed @niconhum I would advise the same.

/close

[2021-09-23 08:27] #367 closed

[2021-09-23 08:30] akram commented on #366
@maxt the relevant option for your case as suggested is to use a k8s `Secret` which will be synced as a Credential in Jenkins as well. Then, you can both use it in your Jenkins pipeline and with your ansible script.

wdyt?

[2021-09-23 09:59] akram commented on #359
@jmarti49 could you please elaborate on this issue? I am not sure to understand what is the problematic part?

[2021-09-23 10:23] jmarti49 commented on #359
Hi, the problems is that when you execute the oc plugin command, some warning appears in the output, (in my case I have duplicated properties in different files), and the plugin output expect a json output.
If you execute the oc command it shows you a warning also but it finishes ok without errors.

This problem appears when you execute the plugin within a Kubernetes pod.

Due to these warnings th

[2021-09-28 09:10] 121910318026 opened #368 "Error to parse POM's"
ERROR: Failed to parse POMs
java.io.IOException: Cannot run program "/bin/java" (in directory "C:\windows\system32\config\systemprofile\AppData\Local\Jenkins\.jenkins\workspace\packaging_26"): CreateProcess error=2, The system cannot find the file specified
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1128)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1071)

[2021-10-01 16:44] ThomVivet opened #370 "'restart' subcommand is missing for rollout()"
A new rollout subcommand 'restart' appeared with OpenShift 4.x but can't be used with current openshift-client plugin.

I then tried to run it this way:
`openshift.raw("rollout status sts ${sts}")`
Unfortunately I got following error: `flags cannot be placed before plugin name`

Here is the full debug log:
[code]

Apparently, to get the new subcommand to work, only this line of code have to be add

[2021-11-08 12:59] fhavel opened #372 "Support current version of oc tool"
Current oc does't support oc export verb. When trying to use objects like `def objs = openShiftObjects.objects(exportable:true)` in the pipeline, I am getting the error `unknown command "export"`.

To reproduce this, create Jenkinsfile:
[code]

Relevant part of console output:
[code]

[2021-11-08 14:21] hostalp opened #373 "Plugin installation broke credentials used by other plugins"
Hello,
after installing this plugin, several other plugins broke as they lost access to the configured credentials.
This includes SonarQube Scanner plugin that has a server authentication token configured in the Jenkins server config and Dependency-Track plugin that has an API key configured in the Jenkins server config as well.

These 2 plugins can't now see their (long time ago) configured crede

[2021-11-08 14:44] akram commented on #373
Hi @hostalp ,

I have a running Jenkins instance with the forementioned plugin but I can't see the credentials-configuration.xml file anywhere, even after forcibely configuring additional clusters.
Is there any action that has to be done to make it appear?

[2021-11-08 15:35] hostalp commented on #373
I'm not sure how it could be easily reproduced. Looking at the credentials-configuration.xml file creation time I can see that it was created some time after the OpenShift plugin installation. By looking at the jenkins log I don't see anything logged at that particular time, but there were definitely some builds running. So perhaps some build that made use of one of those credentials triggered tha

[2021-11-09 14:00] KiqoCode opened #374 "Argument was classified as an image, image~source, or loaded template reference but should be git repo"
Hi,

We are trying to use openshift plugin for Jenkins and we have our own git repository, but using this url gives us the message "Argument was classified as an image, image~source, or loaded template reference" and errors, when it actually should be a git repo. Using a public repo at github works, but using our own local repo does not work.

Any ideas how to get around this so it classifies our

[2021-11-09 14:38] KiqoCode commented on #374
`openshift.newApp( 'https://stash.tre.se/scm/itopstools/alerta-oc.git', '--source-secret=repo-at-bitbucket' )`
This is the step that's failing in jenkins, and what I understand is that it triggers a oc new-app command in the cluster..

And what we get is this:
[code]
So it seems this is not recognized as a git repo by oc. So can we in the `openshift.newApp` command specify that this is actually a

[2021-11-09 16:52] thikade commented on #374
Try to get the `new-app` cmd working on the cmdline first, to fix the error(s).
Use `oc new-app https://stash.tre.se/scm/itopstools/alerta-oc.git --source-secret=repo-at-bitbucket` and see what that gives you.

On OCP v4.8 (and on all previous versions iirc), `oc new-app` will connect to the specified git repo and then tries to figure out which *type* of project is kept inside the repo (Java, Node

[2021-11-22 15:47] #359 closed

[2021-12-01 15:36] spasche opened #375 "Leftover oc processes after wait() calls"
Hello,

We are using OpenShift Client Jenkins Plugin version 1.0.35 together with Kubernetes plugin version 1.30.11 on an OKD cluster.

We noticed that when running `openshift.wait()` (also indirectly via `untilEach()`), the oc processes are kept running after the `wait` returns.
As the processes accumulate, the container memory is exhausted and commands terminate with exit codes 143.

Testcase:
[

[2021-12-06 19:52] akram commented on #375
Hi @spasche ,

can you help us investigate the issue by telling in which case you are falling:
https://github.com/openshift/jenkins-client-plugin/blob/master/src/main/java/com/openshift/jenkins/plugins/pipeline/OcWatch.java#L111

Based on what we have in the code, the return true is captured and normal exit code are also captured
https://github.com/openshift/jenkins-client-plugin/blob/78f1875db430

[2021-12-22 10:35] maxt commented on #366
/close

I agree. I managed to negotiate for new bunch of credentials of type "Secret text" and it perfectly works for me.

[2021-12-22 10:35] #366 closed

[2022-02-07 13:39] hostalp commented on #373
/remove-lifecycle stale

[2022-02-11 08:41] jonesbusy opened #376 "Plugin doesn't detect capabilities from recent OC versions"
Hi,

It seems the plugin is not able to detect Capabilities like the 'ignoreNotFound' (--ignore-not-found) with some version of oc binary

It seems the oc help command doesn't work

For example using docker image

[code]

[code]

Using

[code]

[code]

Seems related to https://github.com/kubernetes/kubectl/issues/884

https://github.com/openshift/jenkins-client-plugin/blob/master/src/main/resource

[2022-02-11 09:58] akram commented on #376
@jonesbusy can you give more context and explain what you are trying to achieve?
If I understand correctly, you are telling also it is working correctly for an `oc 4.6` based image, but not working anymore for images older than that?

[2022-02-11 11:02] jonesbusy commented on #376
Code snippet that work on OC 4.6 but not more recent version like 4.7

[code]

The exists() throw

[code]

When I expect 'false' if the secret doesn't exist

You can see on the command it doesn't use the '--ignore-not-found'.

By activating TRACE log I can see this

[code]

[2022-02-25 11:06] #368 closed

[2022-03-03 11:31] tuomastielinen commented on #299
I have this same issue. I have tried creating OpenShift Token for OpenShift Client Plugin credentials both via plugin configuration and jenkins configuration. No credentials are shown in dropdown.

I see these warnings in jenkins.log
`2022-03-03 11:25:59.366+0000 [id=86]    WARNING o.e.j.s.h.ContextHandler$Context#log: Error while serving https://os4jenkins.domain.tld/descriptorByName/com.openshif

[2022-03-03 11:36] tuomastielinen opened #383 "No credentials shown in cluster configuration dropdown"
This is a same kind of problem as in this issue #299.

But in my case I have tried creating "OpenShift Token for OpenShift Client Plugin" credentials both via plugin configuration and jenkins configuration. No credentials are shown in dropdown.

I see these warnings in jenkins.log
`2022-03-03 11:25:59.366+0000 [id=86] WARNING o.e.j.s.h.ContextHandler$Context#log: Error while serving https://os4jen

[2022-03-03 13:10] tuomastielinen commented on #383
Version 1.0.37.

[2022-03-03 13:18] akram commented on #383
@tuomastielinen : Is the Jenkins Sync plugin also installed on your Jenkins Instance?
I guess no...

[2022-03-09 10:15] tuomastielinen commented on #383
Credentials work if I specify them in the job.

[code]

[2022-03-14 10:14] tuomastielinen commented on #383
In Global Tool Configuration, I added oc to /usr/local/bin. But I get an error when running this test job.

[code]

[code]

oc version: `Client Version: 4.9.0-202201211735.p0.g3f16530.assembly.stream-3f16530`

[2022-03-15 10:05] SylivanKenobi commented on #383
I have the same issue. If I install the openshift-sync plugin the error goes away. I don't want to install the openshift-sync plugin only to remove this error, I don't need it for anything else. openshift-sync isn't listed as a dependency for this plugin so why do I get the error if it's not installed?

[2022-03-24 10:45] tuomastielinen opened #386 "Job fails if there are spaces in the project name, using raw command"
If there are spaces in the project name, job fails with this error when using raw command.
[code]
If I replace spaces with dashes, there are no problems.

[2022-03-28 07:44] tuomastielinen commented on #386
Same happens when using openshift.tag command.

[2022-04-07 17:42] #372 closed

[2022-04-08 17:44] #374 closed

[2022-05-09 02:14] hostalp commented on #373
/remove-lifecycle stale

[2022-05-18 03:55] jonesbusy commented on #376
/remove-lifecycle stale

[2022-06-02 04:27] bankierubybank opened #394 "Error flags cannot be placed before plugin name on external Jenkins declarative pipeline"
Hi,

I've want to deploy applications using external Jenkins declarative pipeline, I'm trying to create a pipeline script refer to document but got error

My environment:

- RHOCP 4.10.13
- Jenkins 2.332.1
- OpenShift Client Jenkins Plugin 1.0.37
- OpenShift Sync 1.0.53

Below is pipeline script

[code]

Below is output on Jenkins pipeline build

[code]

[2022-06-13 08:12] akram commented on #394
@bankierubybank can you please check if you have the same issue when you don't use `oc-latest` ?
The plugin is in maintenance mode, we want to avoid changes in the DSL support to have few regressions.
Maybe you can have a workaround by aliasing the `oc-latest` command that you want to run?

[2022-06-17 01:59] bankierubybank commented on #394
Hi Akram,

This issue is resolved when changing pipeline from `oc-latest` to `oc` and changing the name of OpenShift Client Tools from `oc-latest` to `oc` on Jenkins Global Tool Configuration.

[2022-06-17 01:59] #394 closed

[2022-06-26 13:09] tuomastielinen commented on #386
/remove-lifecycle stale

[2022-07-26 07:18] #375 closed

[2022-08-08 12:42] hostalp commented on #373
/remove-lifecycle stale

[2022-08-26 12:35] pjanouse commented on #376
/remove-lifecycle stale

[2022-08-26 12:37] pjanouse commented on #376
Issue isn't fixed by referenced PR. The issue is still here and affects Jenkins client plugin including version 1.0.37.

As far as I know, the last working OCP cli version is 4.6.60 (tested recently).

[2022-08-26 12:57] jonesbusy commented on #376
Mhhh

1.0.37 was released 6 months ago so before this PR was merged.

This plugin is not built via https://ci.jenkins.io so I have so idea where to find the incremental .hpi for this PR.

The workarround of this issue is to

[code]

On my jenkins global library.

Regards,

[2022-09-12 18:18] chriscarpenter12 opened #395 "Unable to retrieve object names using kubernetes-plugin sidecar container"
While trying to build with an agent using multi-container like the [newer jenkins-builder pod template](https://github.com/openshift/jenkins/blob/d82747e7fb2f4737293bd51416468d482e6eba48/2/contrib/jenkins/kube-slave-common.sh#L149-L194) if the `openshift` command ran in the `kubernetes-plugin` `container` context block fails (expectedly so) the job fails. If you don't wrap the commands in a `conta

[2022-09-13 14:35] chriscarpenter12 commented on #395
I just noticed that #377 was merged June 13 but hasn't released at `jenkinsci/openshift-client-plugin`. While I don't think it would fix this issue it could definitely be related. What's the release schedule when PRs are merged here?

It seems the block ran on the `jnlp` container has no `StdOut` output with all the verbose output in `StdErr`, but the `container('jnlp')` block has a partial json r

[2022-09-21 09:07] rbaala1986 opened #396 "java.nio.file.NoSuchFileException after upgrade to 1.0.37"
We updated the jenkins-client-plugin to 1.0.37 and encountered the following error when executing openshift commands from Jenkins

java.nio.file.NoSuchFileException: /var/run/secrets/kubernetes.io/serviceaccount/namespace
	at java.base/sun.nio.fs.UnixException.translateToIOException(UnixException.java:92)
	at java.base/sun.nio.fs.UnixException.rethrowAsIOException(UnixException.java:111)
	at java.

[2022-10-10 08:07] akram commented on #396
@rbaala1986 can you please describe how it is happening?
the provided stack trace does not have a line related to jenkins-client-plugin . But, instead, it seems to be: `at org.jenkinsci.plugins.workflow.steps.ReadFileStep`